@charset "UTF-8";

@font-face {
	font-family: 'SpoqaNeo';
	font-weight: 100;
	src: local('SpoqaHanSansNeo-Thin'),
	url('../fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
	url('../fonts/SpoqaHanSansNeo-Thin.woff') format('woff'),
	url('../fonts/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'SpoqaNeo';
	font-weight: 300;
	src: local('SpoqaHanSansNeo-Light'),
	url('../fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
	url('../fonts/SpoqaHanSansNeo-Light.woff') format('woff'),
	url('../fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'SpoqaNeo';
	font-weight: 400;
	src: local('SpoqaHanSansNeo-Regular'),
	url('../fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
	url('../fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
	url('../fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'SpoqaNeo';
	font-weight: 500;
	src: local('SpoqaHanSansNeo-Medium'),
	url('../fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
	url('../fonts/SpoqaHanSansNeo-Medium.woff') format('woff'),
	url('../fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'SpoqaNeo';
	font-weight: 700;
	src: local('SpoqaHanSansNeo-Bold'),
	url('../fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
	url('../fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
	url('../fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

*{margin:0; padding:0; box-sizing:border-box;}
:before, :after{box-sizing:border-box}
html{width:100%; height:100%}
body{position:relative; font-family:"Metropolis", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif; font-weight:400; font-size:16px; color:#797979; letter-spacing:-0.7px; height:100%; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; line-height:1; -webkit-overflow-scrolling: touch;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{position:absolute; top:-9999px; left:-9999px; z-index:-1}
textarea, button{vertical-align:middle}
input, select{height:40px; vertical-align:middle; background:#fff; border:1px solid #c8c8c8; font-family:"Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif; font-weight:400; color:#000; letter-spacing:-0.6px; border-radius:0; font-size:16px}
input{padding:3px 15px;}
option{padding:10px}
input[type="radio"],input[type="checkbox"] {border:0; padding:0; height:auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="password"] {height:40px; border:1px solid #c8c8c8; color:#999; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="text"] {width:278px; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="number"] {-moz-appearance:textfield;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {-webkit-appearance:none; margin:0}
select{padding:0 35px 0 15px; height:40px; font-size:16px; line-height:38px; color:#000; background:url('../images/selectD_open.gif') no-repeat right 15px top 50% #fff; border:1px solid #a8a8a8; -webkit-appearance: none; appearance:none; -moz-appearance:none;}
select::-ms-expand{display:none}
select::-ms-value{color:inherit; background:none}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #c8c8c8; font-family:"Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif; font-weight:400; color:#000; font-size:16px; letter-spacing:-0.6px; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius:0}
a{text-decoration:none; color:#555;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}
button{background:none; border:none; padding:0; margin:0; cursor:pointer; overflow:visible; white-space: nowrap; font-size:16px; font-family:"Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif; font-weight:400;}
button:active {outline: none}
button::-moz-focus-inner {padding:0; border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
th, b, strong{font-weight:normal}
::-webkit-input-placeholder{color:#c8c8c8; font-size:15px;}
:-moz-placeholder{color:#c8c8c8; font-size:15px;}
::-moz-placeholder{color:#c8c8c8; font-size:15px;}
:-ms-input-placeholder{color:#c8c8c8; font-size:15px;}
:placeholder-shown{color:#c8c8c8; font-size:15px;}

.inner{position:relative; margin:0 auto; width:1280px;}
.inner:after{content:""; display:block; clear:both;}
.clear:after{display:block; content:""; clear:both;}
.floatL{float:left}
.floatR{float:right}
.taL{text-align:left}
.taR{text-align:right}
.taC{text-align:center}
.dimdBg{display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.7); z-index:4}

.fontTest{font-family:"SpoqaNeo"; margin-top:30px}
.fontTest p{margin-bottom:10px; color:#000}
.fontTest p:nth-child(1){font-size:10px}
.fontTest p:nth-child(2){font-size:11px}
.fontTest p:nth-child(3){font-size:12px}
.fontTest p:nth-child(4){font-size:13px}
.fontTest p:nth-child(5){font-size:14px}
.fontTest p:nth-child(6){font-size:15px}
.fontTest p:nth-child(7){font-size:16px}
.fontTest p:nth-child(8){font-size:17px}
.fontTest p:nth-child(9){font-size:18px}

.fontTest1{font-weight:700}
.fontTest2{font-weight:500}
.fontTest3{font-weight:400}
.fontTest4{font-weight:300}
.fontTest5{font-weight:100}