*{margin:0; padding:0}
html{width:100%; height:100%; overflow-y:scroll}
body{position:relative; font-size:14px; font-family:'맑은 고딕', 'malgun gothic', dotum,"돋움",sans-serif; color:#666; -webkit-text-size-adjust:none; line-height:1.5; letter-spacing:-1px;}
body.main{background:none;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{display:none}
textarea, button{vertical-align:middle}
input, select{vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:'맑은 고딕', 'malgun gothic', dotum,"돋움",sans-serif; color:#666; border-radius:0; font-size:14px}
input,option{padding:3px 10px; height:30px; box-sizing:border-box;}
select{padding:3px; height:30px;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:'맑은 고딕', 'malgun gothic', dotum,"돋움",sans-serif; color:#666; line-height:24px; font-size:14px}
.checkbox{padding:0; border:0; height:auto;}
.disNone{display:none}
a{text-decoration:none; color:#666666; vertical-align:middle;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}
.hide{display:none;}
button{border:0; background:none; cursor:pointer; white-space: nowrap; outline:0;}
button span {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; visibility:hidden;/* 대체 텍스트 숨김 처리 */}
label{cursor:pointer}

#wrap {position:relative; width:100%; min-width:1500px; height:100%; overflow:hidden;}
#wrap.main{height:4263px}
.mainV{position:absolute; top:0; left:0; width:100%; height:780px; overflow:hidden}
.mainV .visual{position:absolute; top:0;  left:50%; transform:translate(-50%, 0); width:100%; height:780px;}
.mainV .visual img{position:absolute; left:0;}
.mainV .visual2{position:absolute; top:0;  left:0; width:100%; height:780px;}
.mainV .visual2 video{position:absolute; top:-220px;  left:0;}
.mainV .visual2 .dimd{position:absolute; top:0px;  left:0; width:100%; height:780px; background:#000; opacity:.4}
.mainV .header{position:relative; top:0; left:0; width:100%; height:780px;}
.mainV .header .lang{position:absolute; top:36px; right:160px;}
.mainV .header .logo{position:absolute; top:170px; left:0; width:100%; text-align:center}
.mainV .header .gnb{position:absolute; top:358px; left:0; width:100%; text-align:center}
.mainV .header .gnb a{display:block; height:60px;}

.mainV .rChemi{position:absolute; top:362px; right:104px; width:173px; height:16px;}
.mainV .rChemi img{position:absolute; top:0; left:0;}
.mainV .rChemi img.on{opacity:0; -moz-transition:.3s ease; -webkit-transition:.3s ease; -ms-transition:.3s ease; -o-transition:.3s ease; transition:.3s ease;}
.mainV .rChemi:hover img.on{opacity:1}

.sub{position:absolute; top:0; left:0; width:100%; height:500px;}
.sub .header{position:relative; top:0; left:0; width:100%; height:500px;}
.sub .header .lang{position:absolute; top:36px; right:160px;}
.sub .header .logo{position:absolute; top:40px; left:0; width:100%; text-align:center}
.sub .header .gnb{position:absolute; top:145px; left:0; width:100%; text-align:center}
.sub .header .gnb a{display:block; height:60px;}
.sub .rChemi{position:absolute; top:150px; right:104px; width:173px; height:16px;}
.sub .rChemi img{position:absolute; top:0; left:0;}
.sub .rChemi img.on{opacity:0; -moz-transition:.3s ease; -webkit-transition:.3s ease; -ms-transition:.3s ease; -o-transition:.3s ease; transition:.3s ease;}
.sub .rChemi:hover img.on{opacity:1}

.main .twoD{display:none; position:absolute; top:420px; left:50%; transform:translate(-50%, 0); box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3); z-index:100}
.sub .twoD{display:none; position:absolute; top:208px; left:50%; transform:translate(-50%, 0); box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3); z-index:100}

.con0{position:absolute; top:780px; left:0; width:100%; height:100%;}
.con0 .bg1{position:absolute; top:0; left:0; width:100%; height:100%; background:url('./images/typea_con0_1_img.png') no-repeat center 0}
.con0 .bg2{position:absolute; top:0; left:0; width:100%; height:100%; background:url('./images/typea_con0_2_img.png') no-repeat center 0}
.con0 .bg3{position:absolute; top:0; left:0; width:100%; height:100%; background:url('./images/typea_con0_3_img.png') no-repeat center 0}
.con0 .txt1{position:absolute; top:170px; left:0; width:100%; text-align:center}
.con0 .txt2{position:absolute; top:225px; left:0; width:100%; text-align:center}
.con0 .btpack{position:absolute; top:304px; left:50%; transform:translate(-50%, 0); width:250px; text-align:center}
.con0 .btpack a{display:block; position:relative; height:20px; margin:0 auto 40px}
.con0 .btpack a img{position:absolute; top:0; left:0}
.con0 .btpack a:nth-child(1){width:70px;}
.con0 .btpack a:nth-child(2){width:34px;}
.con0 .btpack a:nth-child(3){width:117px;}
.con0 .btpack a:nth-child(1) .arrow{left:70px; opacity:0}
.con0 .btpack a:nth-child(2) .arrow{top:-2px; left:33px; opacity:0}
.con0 .btpack a:nth-child(3) .arrow{top:-2px; left:116px; opacity:0}

.con1{position:absolute; top:1420px; left:0; width:100%; height:820px;}
.con1 .rolling{position:absolute; top:0; left:0; width:100%; height:100%; overflow:hidden}
.con1 .rolling .inner{position:relative; width:1600px; height:760px; margin:auto;}
.con1 .rolling .inner .imgTxt{position:absolute; top:0; right:510px; height:760px;}
.con1 .rolling:nth-child(1) .inner .txt1{position:absolute; top:460px; right:-73px; z-index:1}
.con1 .rolling:nth-child(1) .inner .txt2{position:absolute; top:555px; right:19px; z-index:1}
.con1 .rolling:nth-child(1) .inner .rBt{position:absolute; top:455px; right:-610px; z-index:1}
.con1 .rolling:nth-child(2) .inner .txt1{position:absolute; top:460px; right:-83px; z-index:1}
.con1 .rolling:nth-child(2) .inner .txt2{position:absolute; top:634px; right:-26px; z-index:1}
.con1 .rolling:nth-child(2) .inner .rBt{position:absolute; top:455px; right:-610px; z-index:1}
.con1 .rolling .inner .bt{position:absolute; bottom:-60px; right:0;}
.con1 .rolling .inner .linePoint{position:absolute; top:419px; right:239px; width:60px; height:1px; background:#000; z-index:2}
.con1 .rolling .img2{position:absolute; top:0; right:0; height:760px;}
.con1 .rolling .img2 img{position:absolute; top:0; right:0;}
.con1 .linePath{position:absolute; top:419px; left:0; width:100%; height:1px; z-index:1; background:#e0e0e0}

.con2{position:absolute; top:2400px; left:0; width:100%; height:535px;}
.con2 .tit{position:absolute; top:0; left:0; width:100%; text-align:center}
.con2>ul{position:absolute; top:84px; left:50%; transform:translate(-50%, 0); width:100%; width:1600px; overflow:hidden}
.con2>ul li{float:left; margin-right:13px}
.con2>ul li:last-child{margin-right:0}
.con2>ul li a{display:block; width:390px; height:291px; position:relative; overflow:hidden}
.con2>ul li a img{position:absolute; top:0; left:0;}
.con2>div{position:absolute; top:433px; left:50%; transform:translate(-50%, 0); width:100%; width:1600px; overflow:hidden}
.con2>div a{display:block; float:left}
.con2>div a:last-child{float:right}

.con3{position:absolute; top:3116px; left:0; width:100%; height:775px; background:url('./images/typa_con4_bg.jpg') no-repeat center 0}
.con3 .inner{width:1600px; height:775px; margin:auto}
.con3 .inner .txt1{position:absolute; top:152px; left:410px;}
.con3 .inner .bt1{position:absolute; top:320px; left:410px;}
.con3 .inner .bt2{position:absolute; top:320px; left:547px;}
.con3 .inner .bt3{position:absolute; top:320px; left:723px;}
.con3 .inner .img{position:absolute; top:445px; left:350px;}

.footer{position:absolute; bottom:0; left:0; width:100%; height:269px; border-top:1px solid #d9d9d9; text-align:center}

.rChemiDiv{position:absolute; top:0; left:100%; width:100%; height:100%; overflow:hidden; z-index:500}
.rChemiDiv .rChemiLeft{position:absolute; top:0; left:0; z-index:10}
.rChemiDiv .rChemiLeft .rchemiLogo{position:absolute; top:47px; left:160px;}
.rChemiDiv .rChemiLeft .goMain{position:absolute; top:362px; left:160px;}
.rChemiDiv .rChemiLeft .rChemiNum{position:absolute; top:362px; left:350px;}
.rChemiDiv .rChemiLeft .rChemiNum a{display:block; position:relative; width:22px; height:12px; margin-bottom:30px}
.rChemiDiv .rChemiLeft .rChemiNum a img{position:absolute; top:0; left:0; width:22px; height:12px;}
.rChemiDiv .rChemiLeft .arrow{position:absolute; bottom:60px; left:350px;}
.rChemiDiv .rChemiLeft .arrow a{display:block;}
.rChemiDiv .rChemi{position:absolute; top:0; left:0; width:100%; height:100%}
.rChemiDiv .rChemi.one{background:url('./images/rchemi_bg1.jpg') no-repeat center 0; background-size:cover}
.rChemiDiv .rChemi.one .rCheInner{position:absolute; top:362px; left:0; width:100%; height:140px;}
.rChemiDiv .rChemi.one .rCheInner .txt1{position:absolute; top:0; left:0; width:100%; text-align:center}
.rChemiDiv .rChemi.one .rCheInner .txt2{position:absolute; top:95px; left:0; width:100%; text-align:center}
.rChemiDiv .rChemi.two{background:url('./images/rchemi_bg2.jpg') no-repeat center 0; background-size:cover}
.rChemiDiv .rChemi.two .rCheInner{position:absolute; top:362px;  left:50%; transform:translate(-50%, 0); width:790px;  height:195px;}
.rChemiDiv .rChemi.two .rCheInner .txt1{position:absolute; top:0; left:0;}
.rChemiDiv .rChemi.two .rCheInner .txt2{position:absolute; top:72px; left:0;}
.rChemiDiv .rChemi.two .rCheInner .txt3{position:absolute; top:148px; left:0;}
.rChemiDiv .rChemi.two .rCheInner2{position:absolute; top:0; left:50%; transform:translate(-50%, 0); width:790px;  height:100%;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_conbt1{display:block; position:absolute; top:85px;  left:663px;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_conbt2{display:block; position:absolute; top:155px;  left:650px;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_conbt3{display:block; position:absolute; top:795px;  left:473px;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_conbt4{display:block; position:absolute; top:853px;  left:392px;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt1{display:block; position:absolute; top:87px;  left:694px;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt1 span:nth-child(1){display:block; position:absolute; top:0;  left:0;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt1 span:nth-child(1){display:block; position:absolute; top:0;  left:0;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt1{display:block; position:absolute; top:87px;  left:683px; width:253px; height:91px;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt1 span:nth-child(1){display:block; position:absolute; top:13px;  left:0; width:139px; height:1px; overflow:hidden}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt1 span:nth-child(2){display:block; position:absolute; top:0;  right:0;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt2{display:block; position:absolute; top:157px;  left:670px; width:273px; height:90px;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt2 span:nth-child(1){display:block; position:absolute; top:13px;  left:0; width:159px; height:1px; overflow:hidden}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt2 span:nth-child(2){display:block; position:absolute; top:0;  right:0;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt3{display:block; position:absolute; top:797px;  left:493px; width:446px; height:91px;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt3 span:nth-child(1){display:block; position:absolute; top:13px;  left:0; width:330px; height:1px; overflow:hidden}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt3 span:nth-child(2){display:block; position:absolute; top:0;  right:0;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt4{display:block; position:absolute; top:854px;  left:412px; width:537px; height:91px;}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt4 span:nth-child(1){display:block; position:absolute; top:13px;  left:0; width:422px; height:1px; overflow:hidden}
.rChemiDiv .rChemi.two .rCheInner2 .rChemi_contxt4 span:nth-child(2){display:block; position:absolute; top:0;  right:0;}
.rChemiDiv .rChemi.thr{background:url('./images/rchemi_bg3.jpg') no-repeat center 0; background-size:cover}
.rChemiDiv .rChemi.thr .rCheInner{position:absolute; top:362px;  left:50%; transform:translate(-50%, 0); width:790px;  height:195px;}
.rChemiDiv .rChemi.thr .rCheInner .txt1{position:absolute; top:0; left:0;}
.rChemiDiv .rChemi.thr .rCheInner .txt2{position:absolute; top:72px; left:0;}
.rChemiDiv .rChemi.thr .rCheInner .txt3{position:absolute; top:148px; left:0;}
.rChemiDiv .rChemi.fou{background:url('./images/rchemi_bg4.jpg') no-repeat center 0; background-size:cover}
.rChemiDiv .rChemi.fou .rCheInner{position:absolute; top:362px;  left:50%; transform:translate(-50%, 0); width:790px;  height:195px;}
.rChemiDiv .rChemi.fou .rCheInner .txt1{position:absolute; top:0; left:0;}
.rChemiDiv .rChemi.fou .rCheInner .txt2{position:absolute; top:72px; left:0;}
.rChemiDiv .rChemi.fou .rCheInner .txt3{position:absolute; top:148px; left:0;}
.rChemiDiv .rChemi.fiv{background:url('./images/rchemi_bg5.jpg') no-repeat center 0; background-size:cover}
.rChemiDiv .rChemi.fiv .rCheInner{position:absolute; top:362px;  left:50%; transform:translate(-50%, 0); width:790px;  height:195px;}
.rChemiDiv .rChemi.fiv .rCheInner .txt1{position:absolute; top:0; left:0;}
.rChemiDiv .rChemi.fiv .rCheInner .txt2{position:absolute; top:72px; left:0;}
.rChemiDiv .rChemi.fiv .rCheInner .txt3{position:absolute; top:148px; left:0;}
.rChemiDiv .rChemi.six{background:url('./images/rchemi_bg6.jpg') no-repeat center 0; background-size:cover}
.rChemiDiv .rChemi.six .rCheInner{position:absolute; top:362px;  left:50%; transform:translate(-50%, 0); width:790px;  height:195px;}
.rChemiDiv .rChemi.six .rCheInner .txt1{position:absolute; top:0; left:0;}
.rChemiDiv .rChemi.six .rCheInner .txt2{position:absolute; top:72px; left:0;}
.rChemiDiv .rChemi.six .rCheInner .txt3{position:absolute; top:148px; left:0;}
