@charset "UTF-8";

*{margin:0; padding:0; box-sizing:border-box;}
html{width:100%; height:100%;}
body{position:relative; font-family:'Gotham', 'Montserrat', '맑은 고딕', 'Malgun Gothic', sans-serif; font-weight:normal; font-size:16px; color:#666; letter-spacing:0px; line-height:1; height:100%; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; line-height:1;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{position:absolute; top:-9999px; left:-9999px; z-index:-1}
textarea, button{vertical-align:middle} 
input, select{vertical-align:middle; background:#fff; border:1px solid #ccc; font-family:'HyundaiSansTextKRRegular', '맑은 고딕', 'Malgun Gothic', sans-serif; color:#999; letter-spacing:0px; border-radius:0; font-size:16px}
input{padding:3px 10px; height:32px}
option{padding:3px 10px;}
input[type="radio"],input[type="checkbox"] {border:0; padding:0; height:auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="password"] {height:40px; border:1px solid #ccc; color:#999; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="text"] {width:278px; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
select{padding:5px; height:40px; border:1px solid #ccc; background:#fff;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #ccc; font-family:'HyundaiSansTextKRRegular', '맑은 고딕', 'Malgun Gothic', sans-serif; color:#999; font-size:16px; letter-spacing:0px; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius:0}
a{text-decoration:none; color:#666;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}
button{background:none; border:none; padding:0; margin:0; cursor:pointer; overflow:visible; white-space: nowrap;  font-size:16px; font-family:'HyundaiSansTextKRMedium', '맑은 고딕', 'Malgun Gothic', sans-serif;}
button:active {outline: none}
button::-moz-focus-inner {padding:0; border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

body{overflow-x:hidden}
#wrap{position:relative; margin:0 auto; padding-top:85px; width:1920px}
.inner{position:relative; margin:0 auto; width:1520px}
.header{position:fixed; top:0; left:50%; transform:translateX(-50%); width:100%; height:85px; background:url('../images/header.jpg') no-repeat; text-align:center; z-index:2;}
.header.on{background:url('../images/header_on.jpg') no-repeat;}
.header > div{position:relative; width:100%; height:100%; display:inline-block;}
.header > div .logo{position:absolute; top:0; left:26px; width:192px; height:85px; overflow:hidden}
.header > div .link{position:absolute; top:0; right:0; width:825px; height:85px}
.header > div .link .twoD{display:none; position:absolute; top:85px; right:0; width:1920px; height:280px; background:url('../images/header_twoD.jpg') no-repeat}

#wrap.sub .header{background:url('../images/header_sub.jpg') no-repeat; box-shadow:15px 15px 40px 0 rgba(4, 0, 0, 0.03)}
#wrap.sub .header > div{height:85px}
#wrap.sub .header > div .logo{position:absolute; top:0; left:26px; width:234px; height:85px; box-shadow:15px 15px 40px 0 rgba(4, 0, 0, 0.03); transition:width 0.4s ease}
#wrap.sub .header > div .logo img{position:absolute; top:0; left:0; transition:left 0.4s ease}
#wrap.sub .header > div .logo.on{width:60px}
#wrap.sub .header > div .logo.on img{left:-154px}
#wrap.sub .header > div .link{position:absolute; top:0; right:0; width:780px; height:85px}

.visual{position:relative; padding-top:90px; height:670px; overflow:hidden}
.visual .img{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%) scale(1); transition:transform 3s ease}
.visual .img.on{transform:translate(-50%, -50%) scale(1.2)}
.visual .inner{height:100%; z-index:1}
.visual .indicator{position:absolute; bottom:40px; left:0}
#content{position:relative}
#content .login{position:absolute; top:-140px; right:0; z-index:1; background:#f6f3f2}
.content1{background:#f6f3f2 ;text-align:center}
.content2{background:#fff ;text-align:center}
.content3{background:url('../images/content3_bg.jpg') no-repeat center ;text-align:center}
.footer{background:#1c1b1b}

#cBody{position:relative; background:#e3dfdf}
#cBody:after{content:''; display:block; clear:both}
#cBody .lnb{float:left; width:310px; transition:width 0.4s ease; position:relative}
#cBody .lnb .lnbDiv{position:relative; width:260px; height:1313px; background:#fff; transition:width 0.4s ease}
#cBody .lnb .lnbDiv div{position:relative; width:260px; overflow:hidden}
#cBody .lnb .lnbDiv div:before{content:''; display:block; position:absolute; left:26px; z-index:1; transition:left 0.4s ease}
#cBody .lnb .lnbDiv div:nth-child(1):before{top:29px; width:17px; height:20px; background:url('../images/lnb_icon1.png') no-repeat}
#cBody .lnb .lnbDiv div:nth-child(2):before{top:27px; width:19px; height:20px; background:url('../images/lnb_icon2.png') no-repeat}
#cBody .lnb .lnbDiv div:nth-child(3):before{top:24px; width:17px; height:22px; background:url('../images/lnb_icon3.png') no-repeat}
#cBody .lnb .lnbDiv div:nth-child(4):before{top:26px; width:20px; height:19px; background:url('../images/lnb_icon4.png') no-repeat}
#cBody .lnb .lnbDiv div:nth-child(5):before{top:25px; width:20px; height:20px; background:url('../images/lnb_icon5.png') no-repeat}
#cBody .lnb .lnbDiv div p{height:247px; overflow:hidden; transition:height 0.4s ease}
#cBody .lnb .lnbDiv div img{position:relative; left:0; opacity:1; transition:left 0.4s ease, opacity 0.4s ease}
#cBody .lnb .btn{position:absolute; top:636px; left:260px; width:30px; height:40px; background:url('../images/lnb_close.jpg') no-repeat; transition:left 0.4s ease}
#cBody .lnb.on{width:135px}
#cBody .lnb.on .lnbDiv{width:85px}
#cBody .lnb.on .lnbDiv div p{height:0}
#cBody .lnb.on .lnbDiv div img{left:-260px; opacity:0}
#cBody .lnb.on .lnbDiv div:before{left:35px}
#cBody .lnb.on .btn{left:85px; background:url('../images/lnb_open.jpg') no-repeat}
#cBody .subCon{float:left; width:calc(100% - 310px); width:-webkit-calc(100% - 310px); text-align:center; transition:width 0.4s ease}
#cBody .subCon.on{width:calc(100% - 135px); width:-webkit-calc(100% - 135px)}