@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,700);

*{margin:0; padding:0; box-sizing:border-box;}
html{width:100%; height:100%}
body{position:relative; font-family:'Noto Sans KR', 'Montserrat', '맑은 고딕', 'Malgun Gothic', sans-serif; font-weight:normal; font-size:16px; color:#666; letter-spacing:0px; height:100%; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; line-height:1;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{position:absolute; top:-9999px; left:-9999px; z-index:-1}
textarea, button{vertical-align:middle} 
input, select{vertical-align:middle; background:#fff; border:1px solid #ccc; font-family:'HyundaiSansTextKRRegular', '맑은 고딕', 'Malgun Gothic', sans-serif; color:#999; letter-spacing:0px; border-radius:0; font-size:16px}
input{padding:3px 10px; height:32px}
option{padding:3px 10px;}
input[type="radio"],input[type="checkbox"] {border:0; padding:0; height:auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="password"] {height:40px; border:1px solid #ccc; color:#999; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="text"] {width:278px; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
select{padding:5px; height:40px; border:1px solid #ccc; background:#fff;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #ccc; font-family:'HyundaiSansTextKRRegular', '맑은 고딕', 'Malgun Gothic', sans-serif; color:#999; font-size:16px; letter-spacing:0px; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius:0}
a{text-decoration:none; color:#666;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}
button{background:none; border:none; padding:0; margin:0; cursor:pointer; overflow:visible; white-space: nowrap;  font-size:16px; font-family:'HyundaiSansTextKRMedium', '맑은 고딕', 'Malgun Gothic', sans-serif;}
button:active {outline: none}
button::-moz-focus-inner {padding:0; border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

.inner1{position: relative; width:1160px; margin:0 auto;}
.inner2{position: relative; width:1360px; margin:0 auto;}
.ab{position:absolute;}
.taC{text-align:center;}

#wrap{position:relative; width:100%; min-width:1700px; overflow:hidden;}

.header{position:relative; width:100%; height:100px;}
.header .logo{left:0; top:0;}
.header .gnb .menu{left:380px; top:0;}
.header .gnb .twoD{display:none; top:100px; height:208px; z-index:2;}
.header .util{right:0; top:0;}
.header .gnbBg{display:none; top:100px; width:100%; background:#fff; height:208px; border-top:1px solid #efefef; z-index:1;}

.mainV{position:relative; width:100%; height:644px; background:url(../images/mainV_bg.png) top center no-repeat;}
.mainV .txtArea p{left:100px; margin-top:100px; opacity:0;}
.mainV .mainV_txt1{top:140px;}
.mainV .mainV_txt2{top:280px;}
.mainV .mainV_btn{top:370px;}
.mainV .mainV_indi{top:485px;}

.myArea{display:none; position:relative; height:328px;}
.myArea .myInfo{top:-142px;}
.myArea .myRoll{position:relative; padding-top:98px; width:560px; }
.myArea .myRoll .indi{position:absolute; right:0; top:98px;}
.myArea .myRoll .listWrap{margin-top:50px; width:100%; height:180px; overflow:hidden;}
.myArea .myRoll.roll1{float:left;}
.myArea .myRoll.roll2{float:right;}

.s1{position:relative; width:100%; height:1150px; background:url(../images/s1_img.png) center center no-repeat;}
.s1 .firTxt{left:731px; top:306px; width:306px; height:120px; transition:all 1s ease;}
.s1 .firTxt .s1_txt_circle, .s1 .firTxt .s1_txt1{float:left;}
.s1 .firTxt .s1_txt1{position:relative;}
.s1 .firTxt .s1_txt_circle{margin-right:10px;}
.s1 .firTxt .s1_txt_circle img:last-child{position:absolute; left:-50px; top:0;}
.s1 .s1_img{width:100%;}

.s2{position:relative; width:100%; height:1255px; background:url(../images/s2_bg.png) top center no-repeat;}
.s2 .s2_img{left:0; top:0;}
.s2 .txtArea{left:760px; top:50px; width:600px;}
.s2 .imgList{left:0; top:640px; width:100%;}
.s2 .imgList{left:0; top:640px; width:100%;}
.s2 .imgList p{margin-top:100px; opacity:0;}

.s3{position:relative; width:100%; height:900px;}
.s3 .s3Bg{left:320px; top:126px;}
.s3 .txtArea{left:760px; top:246px;}
.s3 .txtArea p, .s3 .txtArea a{margin-left:150px; opacity:0;}
/*.s3 .s3_phone{left:93px;}*/
.s3 .s3_phone{left:327px; bottom:154px; height:0; overflow:hidden; opacity:0; border-radius: 0 0 0 300px;}

.bgImg1{left:0; top:0; width:100%; height:100%; background:url(../images/bg_img1.png) 0 0 no-repeat; z-index:-1;}
.bgImg2{left:0; top:0; width:100%; height:100%; background:url(../images/bg_img2.png) right 0 no-repeat; z-index:-1;}
.bgImg3{left:0; top:0; width:100%; height:100%; background:url(../images/bg_img3.png) 0 0 no-repeat; z-index:-1;}

.footer{height:262px; border-top:1px solid #e5e5e5;}
