*{margin:0; padding:0}
html{width:100%; height:100%}
body{position:relative; font-size:14px; font-family:'맑은 고딕', 'malgun gothic', dotum,"돋움",sans-serif; color:#666; -webkit-text-size-adjust:none; line-height:1.5; letter-spacing:-1px;}
body.main{background:none;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{display:none}
textarea, button{vertical-align:middle}
input, select{vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:'맑은 고딕', 'malgun gothic', dotum,"돋움",sans-serif; color:#666; border-radius:0; font-size:14px}
input,option{padding:3px 10px; height:30px; box-sizing:border-box;}
select{padding:3px; height:30px;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:'맑은 고딕', 'malgun gothic', dotum,"돋움",sans-serif; color:#666; line-height:24px; font-size:14px}
.checkbox{padding:0; border:0; height:auto;}
.disNone{display:none}
a{text-decoration:none; color:#666666; vertical-align:middle;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}
.hide{display:none;}
button{border:0; background:none; cursor:pointer; white-space: nowrap; outline:0;}
button span {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; visibility:hidden;/* 대체 텍스트 숨김 처리 */}
label{cursor:pointer}

#wrap {position:relative; width:100%; min-width:1100px; height:100%; background:#000;}

.top {position:absolute; top:0; left:0; width:100%; min-width:1100px; height:40px; background:#29292b; z-index:999;}
.top .left {float:left;}
.top .right {float:right;}

#header {position:absolute; top:40px; left:0; width:100%; text-align:center; height:80px; border-bottom:1px solid rgba(255,255,255,0.3); z-index:999;}
#header .logo {position:absolute; top:0; left:0; width:211px; height:80px; background:url("./images/logo.png") no-repeat 50% 50%;}
#header #gnb {position:relative; display:inline-block; vertical-align:top;}
#header #gnb > a {position:relative; display:inline-block; width:614px; height:80px; background:url("./images/gnb.png") no-repeat 50% 50%}
#header #gnb > a .bar {display:none; position:absolute; bottom:0; left:102px; width:124px; height:4px; background:#002087;}
#header #gnb .twoD {display:none; position:absolute; top:80px; left:calc(50% - 1500px); width:3000px; height:324px; background:#f4f4f4 url("./images/twoD.jpg") no-repeat 50% 0;}
#header #gnb .twoD a {display:inline-block;; width:1100px; height:100%;}
#header .util {position:absolute; top:0; right:0; width:202px; height:80px; background:url("./images/util.png") no-repeat 50% 50%;}

#header.hover {background:#fff;}
#header.hover .logo {background:url("./images/logo_on.png") no-repeat 50% 50%;}
#header.hover #gnb > a {background:url("./images/gnb_on.png") no-repeat 50% 50%}
#header.hover .util {background:url("./images/util_on.png") no-repeat 50% 50%;}

#header.on {background:#fff;}
#header.on .logo {background:url("./images/logo_on.png") no-repeat 50% 50%;}
#header.on #gnb > a {background:url("./images/gnb_on.png") no-repeat 50% 50%}
#header.on .util {background:url("./images/util_on.png") no-repeat 50% 50%;}

#header.on2 {background:#fff;}
#header.on2 .logo {background:url("./images/logo_on.png") no-repeat 50% 50%;}
#header.on2 #gnb > a {background:url("./images/gnb_on.png") no-repeat 50% 50%}
#header.on2 .util {background:url("./images/util_on.png") no-repeat 50% 50%;}

#header.sub {background:#fff;}
#header.sub .logo {background:url("./images/logo_on.png") no-repeat 50% 50%;}
#header.sub #gnb > a {background:url("./images/gnb_on.png") no-repeat 50% 50%}
#header.sub .util {background:url("./images/util_on.png") no-repeat 50% 50%;}

#fullpage {position:relative; width:100%; height:100%; min-width:1100px;}

.mainVis .visArea {position:relative; width:100%; height:100%; overflow:hidden;}
.mainVis .visArea .vis {position:absolute; top:0; left:100%; width:100%; height:100%;} 
.mainVis .visArea .vis > div {position:relative; width:1100px; height:100%; overflow:hidden; margin:0 auto;}
.mainVis .visArea .vis > div .txt1 {position:absolute; top:281px; left:0; width:0; overflow:hidden;}
.mainVis .visArea .vis > div .txt2 {position:absolute; top:354px; left:0; width:0; overflow:hidden;}
.mainVis .visArea .vis > div .txt3 {position:absolute; top:531px; left:0; width:0; overflow:hidden;}
.mainVis .visArea .vis > div .txt4 {position:absolute; top:557px; left:0; width:0; overflow:hidden;}
.mainVis .visArea .vis > div .btn {position:absolute; top:613px; left:0; width:0; overflow:hidden;}
.mainVis .visArea .vis1 {left:0; background:url("./images/mainVis1.jpg") no-repeat 0 0;}
.mainVis .visArea .vis2 {background:url("./images/mainVis2.jpg") no-repeat 0 0;}
.mainVis .visArea .vis3 {background:url("./images/mainVis3.jpg") no-repeat 0 0;}
.mainVis .visIndi {position:absolute; bottom:141px; left:0; width:100%; text-align:center;}
.mainVis .visIndi a {position:relative; display:inline-block; vertical-align:top; width:266px; height:44px; overflow:hidden; margin-left:12px;}
.mainVis .visIndi a > .bar {position:absolute; top:0; left:0; display:inline-block; width:0; height:3px; background:#fff;}
.mainVis .visIndi a:first-child {margin-left:0;}
.mainVis .visIndi a.indi1 {background:url("./images/mainVis_indi1.png") no-repeat 50% 50%;}
.mainVis .visIndi a.indi2 {background:url("./images/mainVis_indi2.png") no-repeat 50% 50%;}
.mainVis .visIndi a.indi3 {background:url("./images/mainVis_indi3.png") no-repeat 50% 50%;}
.mainVis .visIndi a.indi1.on {background:url("./images/mainVis_indi1_on.png") no-repeat 50% 50%;}
.mainVis .visIndi a.indi2.on {background:url("./images/mainVis_indi2_on.png") no-repeat 50% 50%;}
.mainVis .visIndi a.indi3.on {background:url("./images/mainVis_indi3_on.png") no-repeat 50% 50%;}

.product {background:url("./images/product_bg.jpg") no-repeat 0 0;}
.product .bg {position:absolute; top:0; left:0; width:100%; height:100%; z-index:10;}
.product .bg .bg1 {position:absolute; top:0; left:0; width:100%; height:100%; background:url("./images/pro_bg1.jpg") no-repeat 0 0; display:none;}
.product .bg .bg2 {position:absolute; top:0; left:0; width:100%; height:100%; background:url("./images/pro_bg2.jpg") no-repeat 0 0; display:none;}
.product .pro {position:relative; height:100%; box-sizing:border-box; border-left:1px solid rgba(255,255,255,0.2); overflow:hidden; z-index:20;}
.product .pro > .dimd {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); display:none;}
.product .pro > a {position:absolute; top:0; left:0; width:100%; height:100%;}
.product .pro1 {position:absolute; top:0; left:0; width:33.3%;}
.product .pro2 {position:absolute; top:0; left:33.3%; width:33.4%;}
.product .pro3 {position:absolute; top:0; left:66.7%; width:33.3%;}
.product .pro .txtArea {position:absolute; bottom:0; left:0; padding:0 80px; width:480px; height:339px;}
.product .pro .txtArea .btn {width:100%; text-align:center;}
.product .pro .txtArea .btn a {position:relative; display:inline-block; width:54px; height:54px; background:url("./images/pro_btn.png") no-repeat 50% 50%;}
.product .pro .txtArea .btn a span {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; background:url("./images/pro_btn_on.png") no-repeat 50% 50%;}
.product .pro .txtArea .txt1 {margin-top:40px;}
.product .pro .txtArea .txt2 {margin-top:34px;}
.product .pro .txtArea .txt3 {opacity:0; overflow:hidden; margin-top:30px;}
.product .pro .proCon {position:relative; margin-left:200px; width:1000px; height:100%;}
.product .pro .proCon .txt1 {position:absolute; top:315px; left:0; width:0; overflow:hidden;}
.product .pro .proCon .txt2 {position:absolute; top:371px; left:0; width:0; overflow:hidden;}
.product .pro .proCon .txt3 {position:absolute; top:475px; left:0; width:0; overflow:hidden;}
.product .pro .proCon .img1 {position:absolute; top:814px; left:-26px; opacity:0;}
.product .pro .proCon .img2 {position:absolute; top:814px; left:156px; opacity:0;}
.product .pro .proCon .img3 {position:absolute; top:814px; left:328px; opacity:0;}
.product .pro .proCon .img4 {position:absolute; top:814px; left:505px; opacity:0;}
.product .pro .subTit {position:absolute; top:121px; left:39px; opacity:0;}
.product .close {display:inline-block; width:60px; height:60px; background:url("./images/pro_close.png") no-repeat 0 0; position:absolute; top:151px; left:547px; z-index:30; display:none;}

.csr {background:url("./images/csr_bg.jpg") no-repeat 0 0;}
.csr > div {vertical-align:top;}
.csr .tit {position:relative; text-align:center; top:100px; opacity:0; margin-top:241px;}
.csr .txt {position:relative; text-align:center; top:100px; opacity:0; margin-top:29px;}
.csr .boxArea {position:relative; width:1100px; height:212px; margin:139px auto 0;}
.csr .boxArea > div {cursor:pointer;}
.csr .boxArea .box1 {position:absolute; top:0; left:0; top:100px; opacity:0;}
.csr .boxArea .box2 {position:absolute; top:0; left:255px; top:100px; opacity:0;}
.csr .boxArea .box3 {position:absolute; top:0; left:550px; top:100px; opacity:0;}
.csr .boxArea .box4 {position:absolute; top:0; left:845px; top:100px; opacity:0;}

.news {background:#efefef;}
.news .newsCon {position:relative; padding-top:231px; height:1143px;}
.news .newsCon .tit {position:relative; text-align:center; top:100px; opacity:0;}
.news .newsCon .txt {position:relative; text-align:center; margin-top:29px; top:100px; opacity:0;}
.news .newsCon .boxArea {position:relative; width:1100px; margin:78px auto 0;}
.news .newsCon .boxArea > div {cursor:pointer}
.news .newsCon .boxArea .box1 {position:absolute; top:0; left:0; opacity:0;}
.news .newsCon .boxArea .box2 {position:absolute; top:0; left:554px; opacity:0;}
.news .newsCon .boxArea .box3 {position:absolute; top:0; left:831px; opacity:0;}
.news .newsCon .boxArea .box4 {position:absolute; top:519px; left:0; opacity:0;}
.news .newsCon .boxArea .box5 {position:absolute; top:519px; left:550px; opacity:0;}
.news .newsCon .boxArea .box6 {position:absolute; top:687px; left:0; opacity:0;}
.news .newsCon .boxArea .box7 {position:absolute; top:687px; left:550px; opacity:0;}

#footer {min-width:1100px; height:321px; background:#373739 url("./images/footer.jpg") no-repeat 50% 0;}

.mainIndi {position:absolute; top:50%; right:40px; width:25px; z-index:999;}
.mainIndi li a {display:block; width:25px; height:25px; margin-top:2px; background:url("./images/main_indi.png") no-repeat 50% 50%;}
.mainIndi li a:first-child {margin-top:0;}
.mainIndi li.active a {background:url("./images/main_indi_on.png") no-repeat 50% 50%;}

.proList {position:absolute; top:121px; left:100%; width:100%; min-width:1100px; height:calc(100% - 120px); overflow-y:auto;}
.proList > div {position:relative; width:100%; height:1179px; margin:0 auto; background:url("./images/proList.jpg") no-repeat 50% 0;}
.proList a {position:absolute; top:257px; left:50%; opacity:0; display:block;}
.proList a:hover {opacity:1;}
.proListClose {position:absolute; top:40px; right:0; display:block; width:80px; height:80px; background:url("./images/proList_close.gif") no-repeat 50% 50%; z-index:9999; display:none;}

.sub {position:relative; width:100%; min-width:1100px; height:6799px; background:url("./images/sub.jpg") no-repeat 50% 0;}