@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,700);

*{margin:0; padding:0;}
html{width:100%; height:100%}
body{position:relative; font-size:13px; font-family:"Noto Sans KR", "Noto Sans KR", "Malgun Gothic"; color:#555; -webkit-text-size-adjust:none; line-height:18px; letter-spacing:-1px; height:100%}
body.main{background:none;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{display:none}
textarea, button{vertical-align:middle}
input, select{vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:"Montserrat", "Noto Sans KR", "Malgun Gothic"; color:#555; border-radius:0; font-size:14px}
input,option{padding:3px 10px; height:24px;}`
input[type="radio"],input[type="checkbox"] {border:0}
select{padding:3px; height:32px;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:"Montserrat", "Noto Sans KR", "Malgun Gothic"; color:#555; line-height:24px; font-size:14px}
.checkbox{padding:0; border:0; height:auto;}
a{text-decoration:none; color:#666666; vertical-align:middle;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}

.mt30{margin-top:30px !important;}

#mobileWrap{position:relative; width:824px; height:100%; margin:0 auto;}
#mobileWrap .phone{position:absolute; top:0; left:0; padding-top:30px; z-index:10;}
#mobileWrap .phone .top{display:block; position:absolute; bottom:59px; left:358px; width:109px; height:51px; z-index:10;}
#mobileWrap .contents .wrap{display:block; position:relative; width:700px; height:100%; overflow-y:auto; overflow-x:hidden;}
#mobileWrap .contents .wrap .section{position:absolute; top:0; left:0;}
#mobileWrap .btBox a{display:block; padding-bottom:10px;}
#mobileWrap .btBox{position:absolute; top:150px; right:-10px; z-index:100; display:block}
#mobileWrap .contents{position:absolute; top:163px; left:92px; width:640px; height:1136px; overflow:hidden; z-index:10;}

.phoneTop {position:absolute; top:0; left:0; width:640px; height:40px; background:url("../imagesM/phone_top.gif") no-repeat 0 0; z-index:20;}

#header {position:absolute; top:0; left:0; width:640px; height:100px; z-index:99;}
#header a {display:block; width:640px; height:100px; background:url("../images/header.png") no-repeat 0 0;}
#header a.on {background:url("../images/header_on.png") no-repeat 0 0;}

.wrap {width:640px !important; height:1136px !important; overflow:hidden !important;}
.wrap > div {position:relative; width:640px;}

.wrap > div > div {position:absolute; top:1136px; left:0; width:640px; height:1136px;}
.wrap > div > div:first-child {top:0;}
.wrap > div > div a {display:block;}
.wrap > div > .main4 {width:700px; overflow-y:scroll;}