*{margin:0; padding:0;}
html{width:100%; height:100%}
body{position:relative; font-size:13px; font-family:'ë§‘ì€ ê³ ë”•', malgun-gothic, dotum,"ë‹ì›€",sans-serif; color:#555; -webkit-text-size-adjust:none; line-height:18px; letter-spacing:-1px; height:100%}
body.main{background:none;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{display:none}
textarea, button{vertical-align:middle}
input, select{vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:'ë§‘ì€ ê³ ë”•', malgun-gothic, dotum,"ë‹ì›€",sans-serif; color:#555; border-radius:0; font-size:14px}
input,option{padding:3px 10px; height:24px;}`
input[type="radio"],input[type="checkbox"] {border:0}
select{padding:3px; height:32px;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:'ë§‘ì€ ê³ ë”•', malgun-gothic, dotum,"ë‹ì›€",sans-serif; color:#555; line-height:24px; font-size:14px}
.checkbox{padding:0; border:0; height:auto;}
a{text-decoration:none; color:#666666; vertical-align:middle;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}

#wrap{position:relative; width:100%; min-width:1600px; overflow:hidden;}
.header{position:absolute; top:0; width:100%; z-index:2;}
.header .lang{position:absolute; top:0; left:0;}
.header .util1{position:absolute; top:0; left:50%; transform:translate(-50%, 0);}
.header .util2{position:absolute; top:0; right:0;}
.header .logo{position:absolute; top:110px; left:30px;}
.header .gnb{position:absolute; top:110px; left:50%; transform:translate(-50%, 0);}
.header .searchBtn{position:absolute; top:125px; right:29px;}
.header .gnbTwoD{position:absolute; top:180px; width:100%; height:370px; background:#fff;}
.header .gnbTwoD a{position:absolute; top:0; left:50%; transform:translate(-50%, 0);}

.visual_cont{position:relative; /*width:100%;*/ margin:0 auto; max-width:1920px; height:900px; overflow:hidden;}
.visual_cont .visual1{position:absolute; top:0; width:100%; height:900px; overflow:hidden;}
.visual_cont .visual1 .bg{width:100%; height:100%; transform:scale(1.1); background:url("../images/visual1.jpg") no-repeat center center; background-position:0 0;}
.visual_cont .visual2{position:absolute; top:0; width:100%; height:900px; overflow:hidden;}
.visual_cont .visual2 .bg{width:100%; height:100%; transform:scale(1.1); background:url("../images/visual2.jpg") no-repeat center center; background-position:0 0;}
.visual_cont .visual3{position:absolute; top:0; width:100%; height:900px; overflow:hidden;}
.visual_cont .visual3 .bg{width:100%; height:100%; transform:scale(1.1); background:url("../images/visual3.jpg") no-repeat center center; background-position:0 0;}
.visual_cont .btnArea{position:absolute; top:325px; left:0; z-index:1;}
.visual_cont .btnArea a{display:block; padding:20px 0;}
.visual_cont .btnArea a.on{padding:20px 0 50px;}

.section2{position:relative;}
.section2 .whiteArea{position:relative; margin:0 auto; max-width:1920px; height:630px; background:#fff; overflow:hidden;}
.section2 .whiteArea .motif{position:absolute; top:-120px; right:40px;}
.section2 .movieArea{position:relative; margin:0 auto; max-width:1920px; height:600px; overflow:hidden;}
.section2 .movieArea .txt{position:absolute; top:315px; left:50%; transform:translate(-50%, 0); top:365px; opacity:0;}
.section2 .elementD{position:relative;}
.section2 .elementD .ico{position:absolute; top:-50px; left:50%; transform:translate(-50%, 0); z-index:1;}
.section2 .img_cont{position:absolute; top:250px; left:50%; transform:translate(-50%, 0); width:1140px;}
.section2 .img_cont .img{display:block; position:absolute; width:360px; height:530px; overflow:hidden;}
.section2 .img_cont .img .txt{position:absolute; top:0; left:0; z-index:1;}
.section2 .img_cont .img:nth-child(1){top:50px; left:0; top:100px; opacity:0;}
.section2 .img_cont .img:nth-child(2){top:0; left:390px; top:50px; opacity:0;}
.section2 .img_cont .img:nth-child(3){top:100px; left:782px; top:150px; opacity:0;}

.section3{position:relative; width:100%;}
.section3 .news{position:relative; top:50px; opacity:0;}
.section3 .newsBtn{display:block; margin:47px auto 0; width:110px; text-align:center; position:relative; z-index:2;}
.section3 .newsS{position:relative; top:0; z-index:1;}
.section3 canvas{position:absolute; top:613px;}

.section4{position:relative; margin:170px auto 0; max-width:1920px;}
.section5{position:relative; margin:0 auto; max-width:1920px;}
.section6{position:relative; margin:0 auto; max-width:1920px;}