@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{margin:0; padding:0}
html{width:100%; height:100%}
body{position:relative; width:100%; font-size:16px; font-family:'Noto Sans KR', "Malgun Gothic", sans-serif; color:#666; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body.main{background:none;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{display:none}
textarea, button{vertical-align:middle}
button{cursor:pointer;border:none;overflow:visible;}
input, select{height:29px; vertical-align:middle; background:#fff; border:1px solid #e3e3e3; font-family:'Noto Sans KR', sans-serif; color:#777;}
input,option{padding:3px 10px}
select{height:37px; padding:2px; line-height:29px;}
textarea{padding:3px; vertical-align:middle; background:#fff; border:1px solid #ddd; font-family:'Noto Sans KR', sans-serif; color:#777; font-size:13px;}
.checkbox{padding:0; border:0}
.disNone{display:none}
a{text-decoration:none; color:#777}
a:hover, a:focus, a:active{text-decoration:none;}
table{width:100%; border-collapse:collapse}
table th{font-family:'Noto Sans KR', sans-serif; font-weight:normal}
strong{font-family:'Noto Sans KR', sans-serif; font-weight:normal}
map area{outline:none;}
button{margin:0; padding:0; background:none; font-size:16px; font-family:'Noto Sans KR', sans-serif; color:#666; word-break:break-all;}

body{background:#fff;}
#wrap{min-width:1280px;}
#section_container{position:relative; overflow:hidden; height:100%;}
.wht_bg{background:url("../images/issue_bg.jpg") no-repeat center center; background-size:cover;}
.skewIcon{position:fixed; top:275px; left:45%; z-index:4;}
.skewIcon2{position:fixed; top:205px; left:43%; z-index:4;}
.family_cont{position:fixed; top:0; width:100%; height:100%; background:#000; z-index:11;}
.family_cont .step1{display:block; position:absolute; top:0; width:100%; height:100%; background:url("../images/family_img1.jpg") no-repeat center center; background-size:cover;}
.family_cont .step2{display:block; position:absolute; top:0; width:100%; height:100%; background:url("../images/family_img2.jpg") no-repeat center center; background-size:cover;}
.family_cont .step3{display:block; position:absolute; top:0; width:100%; height:100%; background:url("../images/family_img3.jpg") no-repeat center center; background-size:cover;}
.family_cont .step4{display:block; position:absolute; top:0; width:100%; height:100%; background:url("../images/family_img4.jpg") no-repeat center center; background-size:cover;}
.family_cont .step5{display:block; position:absolute; top:0; width:100%; height:100%; background:url("../images/family_img5.jpg") no-repeat center center; background-size:cover;}
.family_cont .logo{position:absolute; top:65px; left:80px; z-index:1;}
.family_cont .xbtn{position:absolute; top:48px; right:70px; z-index:1;}
.sticky_gnb{position:fixed; top:-70px; width:100%; height:70px; z-index:11;}
.sticky_gnb .logo{position:absolute; top:20px; left:80px;}
.sticky_gnb .menu{position:absolute; top:0; left:50%; transform:translate(-50%, 0);}
.sticky_gnb .icon1{position:absolute; top:0; right:0;}
.sticky_gnb .icon2{position:absolute; top:0; right:120px;}
.section{position:absolute; top:0; left:0; width:100%; height:100%;}
.section:after{content:""; display:block; clear:both;}
.section .familyBt {position:absolute; top:55%; left:80px; width:140px; height:91px; margin-top:-45px; background:url("../images/family_bt.png") no-repeat 50% 50%; opacity:0;}
.section .familyBt span {position:absolute; top:0; left:0; width:140px; height:0; background:url("../images/family_bt_hover.png") no-repeat 0 0; overflow:hidden; transition:0.3s}
.section .familyBt:hover span {height:91px; transition:0.3s}
.section .playBt2 {position:absolute; bottom:130px; right:-170px; opacity:0;}
.section .blackBg{display:none; position:absolute; top:0; left:0; z-index:5; width:100%; height:100%; background:rgba(0, 0, 0, 0.5);}
.section .blackBg1{position:absolute; top:0; left:0; z-index:-1; width:100%; height:100%; background:rgba(0, 0, 0, 0.5);}
.inner{position:relative; margin:0 auto; width:1110px;}
.inner:after{content:""; display:block; clear:both;}
.gnb_area{position:relative; z-index:3; width:100%; height:360px; background:url("../images/gnb_shadowBg.png") repeat-x 0 0;}
.gnb_area .gnb_logo{position:absolute; top:65px; left:80px;}
.gnb_area .gnb_menu{position:absolute; top:81px; left:50%; transform:translate(-50%, 0);}
.gnb_area .gnb_menu a{display:block; float:left; padding-left:88px;}
.gnb_area .gnb_menu a:first-child{padding-left:0;}
.gnb_area .gnb_icon1{position:absolute; top:0; right:0;}
.gnb_area .gnb_icon2{position:absolute; top:0; right:120px;}
.gnb_over{display:block; position:absolute; top:0; width:100%; height:513px; background:url('../images/gnb_over.jpg') no-repeat center 0; z-index:4;}
.gnb_over .logo{position:absolute; top:65px; left:80px; z-index:1;}
.gnb_over .btn{position:absolute; top:0; right:0; z-index:1;}

.visual_cont{position:absolute; top:0; left:0; width:100%; height:100%; /*background:url("../images/visual1.jpg") no-repeat center center; background-size:cover;*/}
.visual_cont .inner .txt{position:absolute; top:460px; top:550px; opacity:0; left:50%; transform:translate(-50%, 0);}
.visual_cont .inner .line{position:absolute; top:582px; top:612px; opacity:0; left:50%; transform:translate(-50%, 0);}
.visual_cont .inner .playBt{position:absolute; top:632px; top:662px; opacity:0; left:50%; transform:translate(-50%, 0);}
.visual_cont .ico_wheel{position:absolute; bottom:100px; left:50%; transform:translate(-50%, 0);}
.visual_cont .tab{position:absolute; bottom:0; width:100%; z-index:10;}
.visual_cont .tab .tab_btn{position:absolute; top:-80px; z-index:1; width:100%; height:80px; /*background:rgba(0, 0, 0, 0.6);*/}
.visual_cont .tab .tab_btn.on{background:rgba(0, 0, 0, 1);}
.visual_cont .tab .tab_btn a{position:relative; float:left; display:inline-block; width:33.3333%; height:80px; overflow:hidden; text-align:center; transition:all 0.2s ease; /*background:rgba(0, 0, 0, 0.6);*/ }
.visual_cont .tab .tab_btn a:nth-child(1){background:url("../images/visual_tab1_bg.jpg") no-repeat center center; background-size:cover;}
.visual_cont .tab .tab_btn a:nth-child(1):after{content:"|"; display:block; position:absolute; top:20px; right:0; height:40px; width:1px; background:#6b6b6b;}
.visual_cont .tab .tab_btn a:nth-child(2){background:url("../images/visual_tab2_bg.jpg") no-repeat center center; background-size:cover;}
.visual_cont .tab .tab_btn a:nth-child(2):after{content:"|"; display:block; position:absolute; top:20px; right:0; height:40px; width:1px; background:#6b6b6b;}
.visual_cont .tab .tab_btn a:nth-child(3){background:url("../images/visual_tab3_bg.jpg") no-repeat center center; background-size:cover;}
/*.visual_cont .tab .tab_btn a.on{background:rgba(0, 0, 0, 1);}*/
.visual_cont .tab .tab_btn a.off{/*background:rgba(0, 0, 0, 0);*/ background:none;}
.visual_cont .tab .tab_btn .black:nth-child(1){position:absolute; top:0; left:-2000px; width:2000px; height:90px; background:rgba(0, 0, 0, 0.6); transition:all 0.2s ease;}
.visual_cont .tab .tab_btn .black:nth-child(2){position:absolute; top:0; right:-1990px; width:2000px; height:90px; background:rgba(0, 0, 0, 0.6); transition:all 0.2s ease;}
.visual_cont .tab .tab_btn .black.on{background:rgba(0, 0, 0, 1);}
.visual_cont .tab_contents{position:relative; width:100%; height:100%; background:#000; overflow:hidden;}
.visual_cont .tab_contents .closeBt {position:absolute; top:144px; right:75px;}
.content.bgStyle1{position:relative; width:100%; height:100%; /*background:url("../images/visual_tab_img1.jpg") no-repeat center center; background-size:cover;*/}
.content.bgStyle2{position:relative; width:100%; height:100%; /*background:url("../images/visual_tab_img2.jpg") no-repeat center center; background-size:cover;*/}
.content .txt_box{display:none; position:absolute; top:0; left:0; width:100%; height:100%;}
.content .txt_box .tab_inner{position:relative; margin:0 auto; width:1110px; height:100%;}
.content .txt_box .tab_inner .indicator{position:absolute; top:150px; left:50%; transform:translate(-50%, 0); overflow:hidden; z-index:1;}
.content .txt_box .tab_inner .indicator a{display:block; float:left; margin:5px 10px 0; width:10px; height:10px; border-radius:10px; background:rgba(255, 255, 255, 0.9); transition:all 0.3s ease;}
.content .txt_box .tab_inner .indicator a.on{margin:0 10px; width:20px; height:20px;}
.content .txt_box .intro_txt{position:relative; top:50%; transform:translate(0, -50%); height:160px;}
.content .txt_box .intro_txt .introTxt1{position:absolute; top:0; left:50%; transform:translate(-50%, 0); font-size:70px; color:#fff; font-weight:100;}
.content .txt_box .intro_txt .introTxt2{position:absolute; top:80px; left:50%; transform:translate(-50%, 0); font-size:70px; color:#fff; font-weight:700;}
.content .txt_box .tab_inner_img{position:absolute; top:0; width:100%; height:100%;}
.content .txt_box .leftBtn{position:absolute; top:50%; transform:translate(0, -50%); left:40px; z-index:1}
.content .txt_box .rightBtn{position:absolute; top:50%; transform:translate(0, -50%); right:40px; z-index:1}
.content .txt_box .txt1{position:absolute; top:0; top:50px; left:0;}
.content .txt_box .txt2{position:absolute; top:73px; top:123px; left:0;}
#contents1{background:url('../images/tabCon_bg1.jpg') no-repeat 50% 50%; background-size:cover;}
#contents2{background:url('../images/tabCon_bg2.jpg') no-repeat 50% 50%; background-size:cover;}
#contents2.step1{background:url('../images/1st_bg1.jpg') no-repeat 50% 50%; background-size:cover;}
#contents2.step2{background:url('../images/1st_bg2.jpg') no-repeat 50% 50%; background-size:cover;}
#contents2.step3{background:url('../images/1st_bg3.jpg') no-repeat 50% 50%; background-size:cover;}
#contents2.step4{background:url('../images/1st_bg4.jpg') no-repeat 50% 50%; background-size:cover;}
#contents3{background:url('../images/tabCon_bg3.jpg') no-repeat 50% 50%; background-size:cover;}
#contents2 .line{position:absolute; top:50%; left:0; transform:translate(0, -50%); width:100%; height:1px; background:#fff;}

.bz_intro .icon {position:absolute; top:200px; left:50%; transform:translate(-50%, 0);}
.bz_intro{position:absolute; top:0; left:0; width:100%; height:100%; background:url("../images/biz_grayBg.jpg") no-repeat center center; background-size:cover; z-index:1;}
.bz_intro .txt{position:absolute; top:466px; left:50%; transform:translate(-50%, 0);}
.biz_cont{background:url("../images/biz_grayBg.jpg") no-repeat center center; background-size:cover; overflow:hidden;}
.biz_cont .float_box{float:left; overflow:hidden;}
.biz_cont .float_box .img_cont{display:block; position:relative; float:left; opacity:0;}
.biz_cont .float_box .img_cont .txt1{position:absolute; top:80px; left:80px; line-height:1; font-size:24px; color:#fff; font-weight:700;}
.biz_cont .float_box .img_cont .txt2{display:none; position:absolute; top:125px; left:80px; line-height:1; font-size:15px; color:#fff; font-weight:300; line-height:1.2;}
.biz_cont .float_box .img_cont .txt1.left60{left:60px;}
.biz_cont .float_box .img_cont .txt2.left60{left:60px;}
.biz_cont .float_box .img_cont .color000{color:rgba(0, 0, 0, 0.8);}
.biz_cont .float_box .img_cont .color333{color:#333;}
.biz_cont .float_box .img_cont .over{display:none;}
.biz_cont .float_box .img_cont.c1{left:-400px; height:455px; background:url("../images/biz_img1.jpg") no-repeat center center; background-size:cover;}
.biz_cont .float_box .img_cont.c1 .over{position:absolute; top:0; left:0; width:100%; height:100%; background:url("../images/business01.gif") no-repeat center center; background-size:cover;}
.biz_cont .float_box .img_cont.c2{top:-400px; height:455px; background:url("../images/biz_img2.jpg") no-repeat center center; background-size:cover;}
.biz_cont .float_box .img_cont.c3{left:400px; width:100%; height:100%; background:url("../images/biz_img3.jpg") no-repeat center center; background-size:cover;}
.biz_cont .float_box .img_cont.c3 .over{position:absolute; top:0; left:0; width:100%; height:100%; background:url("../images/business03.gif") no-repeat center center; background-size:cover;}
.biz_cont .float_box .img_cont.c4{left:-400px; height:455px; background:url("../images/biz_img4.jpg") no-repeat center center; background-size:cover;}
.biz_cont .float_box .img_cont.c5{top:400px; height:455px; background:url("../images/biz_img5.jpg") no-repeat center center; background-size:cover;}
.biz_cont .float_box .img_cont.c5 .over{position:absolute; top:0; left:0; width:100%; height:100%; background:url("../images/business05.gif") no-repeat center center; background-size:cover;}
.biz_cont .w70{width:70%;}
.biz_cont .w60{width:60%;}
.biz_cont .w40{width:40%;}
.biz_cont .w30{width:30%;}

.issue_intro{position:absolute; top:0; left:0; width:100%; height:100%; background:url("../images/issueBg.jpg") no-repeat center center; background-size:cover; z-index:1;}
.issue_intro .icon {position:absolute; top:326px; left:50%; transform:translate(-50%, 0);}
.issue_intro .txt{position:absolute; top:509px; left:50%; transform:translate(-50%, 0);}
.issue_tit{position:relative; top:50px; padding-top:80px; text-align:center; opacity:0;}
.issue_allBtn{position:absolute; top:20px; top:190px; right:0; opacity:0;}
.issue_cont{position:relative; overflow:hidden; padding:0 3px; margin-top:203px; height:450px;}
.issue_cont a{display:block; position:absolute; top:0; top:50px; opacity:0; margin-left:5px; width:270px; height:450px; overflow:hidden;}
.issue_cont a:nth-child(1){left:0;}
.issue_cont a:nth-child(2){left:280px;}
.issue_cont a:nth-child(3){left:560px;}
.issue_cont a:nth-child(4){left:840px;}
.issue_cont a .overImg{position:absolute; top:0; left:0;}
.issue_cont2{position:relative; height:123px; margin-top:77px}
.issue_cont2:after{content:""; display:block; clear:both;}
/*
.issue_cont2 a{display:block; position:absolute; top:0; top:50px; opacity:0;}
.issue_cont2 a:nth-child(1){left:0; width:688px; height:278px; overflow:hidden;}
.issue_cont2 a .overImg{position:absolute; top:0; left:0;}
.issue_cont2 a:nth-child(2){left:688px;}
*/
.issue_cont2 > a {position:relative; top:50px; opacity:0;}
.issue_cont2 > .btns {position:absolute; top:0; right:0; overflow:hidden;}
.issue_cont2 > .btns a{float:left; margin-left:40px; position:relative; top:50px; opacity:0; display:inline-block; width:90px; height:123px; background:url("../images/issue_btn1.png") no-repeat 0 0;}
.issue_cont2 > .btns a > img {opacity:0; transition:0.4s}
.issue_cont2 > .btns a:hover > img {opacity:1; transition:0.4s}
.issue_cont2 > .btns a:first-child {margin-left:0;}
.issue_cont2 > .btns a:nth-child(2){background:url("../images/issue_btn2.png") no-repeat 0 0;}
.issue_cont2 > .btns a:nth-child(3){background:url("../images/issue_btn3.png") no-repeat 0 0;}
.issue_bg{
	position:absolute;top:0;left:-1312px;width:2000px;height:100%;
	background: #eff2f0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#eff2f0, #d8dbdf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eff2f0, #d8dbdf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eff2f0, #d8dbdf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eff2f0, #d8dbdf); /* Standard syntax */	
}

.career_intro{position:absolute; top:0; left:0; width:100%; height:100%; background:url("../images/careerBg.jpg") no-repeat center center; background-size:cover; z-index:1;}
.career_intro .icon {position:absolute; top:279px; left:50%; transform:translate(-50%, 0);}
.career_intro .txt{position:absolute; top:509px; left:50%; transform:translate(-50%, 0);}
.section.career{background:url("../images/career_bg.jpg") no-repeat center center; background-size:cover;}
.career_tit{position:relative; top:80px; top:130px; opacity:0; text-align:center;}
.career_cont{position:relative; margin-top:210px; height:520px;}
.career_cont .rollArea {position:absolute; top:50px; left:0; width:550px; height:520px; background:url("../images/career_roll_bg.jpg") no-repeat 0 0; overflow:hidden; opacity:0; cursor:pointer}
.career_cont .rollArea .txt {position:absolute; top:0; left:-392px;}
.career_cont .rollArea .img {position:absolute; bottom:0; right:-270px;}
.career_cont .rollArea .indi {position:absolute; bottom:40px; left:50px;}
.career_cont .rollArea .indi a {display:inline-block; width:20px; height:20px; background:url("../images/cRoll_indi.png") no-repeat 0 0;}
.career_cont .rollArea .indi a.on {background:url("../images/cRoll_indi_on.png") no-repeat 0 0;}
.career_cont > a{display:block; position:absolute;}
.career_cont > a:nth-of-type(1){top:0; left:560px; top:50px; opacity:0;}
.career_cont > a:nth-of-type(2){top:0; left:560px; top:375px; opacity:0;}
.career_cont > a:nth-of-type(3){top:0; left:837px; top:375px; opacity:0;}
/*.career_cont a:nth-child(4){top:325px; left:0; top:375px; opacity:0;}*/
.footer{width:100%; height:170px; background:url("../images/footer_bg.gif") repeat-x 0 0;}

/* 2017-09-20 side menu 추가 */
.sideMenu{position:absolute; top:50%; right:0; margin-top:-73.5px;}
.sideMenu a {display:block; width:99px; height:18px; margin-top:25px;}
.sideMenu a:first-child {margin-top:0;}
.sideMenu a.bt1 {background:url("../images/sideMenu1.png") no-repeat 0 0;}
.sideMenu a.bt2 {background:url("../images/sideMenu2.png") no-repeat 0 0;}
.sideMenu a.bt3 {background:url("../images/sideMenu3.png") no-repeat 0 0;}
.sideMenu a.bt4 {background:url("../images/sideMenu4.png") no-repeat 0 0;}
.sideMenu a.on.bt1 {background:url("../images/sideMenu1_on.png") no-repeat 0 0;}
.sideMenu a.on.bt2 {background:url("../images/sideMenu2_on.png") no-repeat 0 0;}
.sideMenu a.on.bt3 {background:url("../images/sideMenu3_on.png") no-repeat 0 0;}
.sideMenu a.on.bt4 {background:url("../images/sideMenu4_on.png") no-repeat 0 0;}
.sideMenu.type2 a.bt1 {background:url("../images/sideMenu2_1.png") no-repeat 0 0;}
.sideMenu.type2 a.bt2 {background:url("../images/sideMenu2_2.png") no-repeat 0 0;}
.sideMenu.type2 a.bt3 {background:url("../images/sideMenu2_3.png") no-repeat 0 0;}
.sideMenu.type2 a.bt4 {background:url("../images/sideMenu2_4.png") no-repeat 0 0;}
.sideMenu.type2 a.on.bt1 {background:url("../images/sideMenu2_1_on.png") no-repeat 0 0;}
.sideMenu.type2 a.on.bt2 {background:url("../images/sideMenu2_2_on.png") no-repeat 0 0;}
.sideMenu.type2 a.on.bt3 {background:url("../images/sideMenu2_3_on.png") no-repeat 0 0;}
.sideMenu.type2 a.on.bt4 {background:url("../images/sideMenu2_4_on.png") no-repeat 0 0;}