@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,700);

*{margin:0; padding:0;}
html{width:100%; height:100%}
body{position:relative; font-size:13px; font-family:"Noto Sans KR", "Noto Sans KR", "Malgun Gothic"; color:#555; -webkit-text-size-adjust:none; line-height:18px; letter-spacing:-1px; height:100%}
body.main{background:none;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{display:none}
textarea, button{vertical-align:middle}
input, select{vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:"Montserrat", "Noto Sans KR", "Malgun Gothic"; color:#555; border-radius:0; font-size:14px}
input,option{padding:3px 10px; height:24px;}`
input[type="radio"],input[type="checkbox"] {border:0}
select{padding:3px; height:32px;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:"Montserrat", "Noto Sans KR", "Malgun Gothic"; color:#555; line-height:24px; font-size:14px}
.checkbox{padding:0; border:0; height:auto;}
a{text-decoration:none; color:#666666; vertical-align:middle;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}

.mt30{margin-top:30px !important;}
.clear{}
.clear:after{display:block; content:""; clear:both;}
.inner{position:relative; margin:0 auto; width:1820px;}
.inner:after{display:block; content:""; clear:both;}
.black-bg{display:none;position:fixed; top:0; z-index:5; width:100%; height:100%; background:rgba(0,0,0,0.5);}
.black-bg2{display:none;position:fixed; top:0; z-index:20; width:100%; height:100%; background:rgba(0,0,0,0.5);}

#wrap{position:relative; overflow:hidden;}
#header{position:relative; z-index:10; width:100%; background:#fff;}
#header .header-inner{position:relative; width:1920px; margin:auto;}
#header .header-inner:after{display:block; content:""; clear:both;}
#header:after{display:block; content:""; clear:both;}
#header .logo{display:block; position:relative; float:left; width:300px;}
#header .gnb{float:right; position:relative;}
#header .gnb .menu{display:block; float:left;}
#header .gnb span{display:block; float:left;}
#header .gnb .search{display:block; float:left;}
.gnb-menu{display:none; position:absolute; top:97px; left:660px; z-index:11; opacity:0; box-shadow:10px 10px 50px 10px rgba(0,0,0,0.3);}
.search-cont{display:none; position:absolute; top:100px; z-index:11; width:100%; height:300px; text-align:center; background:#5998d1; box-shadow:10px 10px 50px 10px rgba(0,0,0,0.3);}
.search-cont img{position:absolute; top:0; top:50px; left:50%; transform:translate(-50%, 0); opacity:0;}
#content{}
#content .visual-cont{position:relative; height:800px; overflow:hidden;}
#content .visual-cont .visual{position:absolute; top:0; left:0; z-index:1; width:100%; height:800px;}
#content .visual-cont .visual.on{z-index:2;}
#content .visual-cont .visual.v1 .bg{width:100%; height:100%; background:url("../images/visual1.jpg") no-repeat 0 0; background-size:cover;}
#content .visual-cont .visual.v1 .txt1{position:absolute; top:163px; left:186px; opacity:0;}
#content .visual-cont .visual.v1 .txt2{position:absolute; top:360px; left:186px; opacity:0;}
#content .visual-cont .visual.v1 .btn{position:absolute; top:540px; left:239px; opacity:0;}
#content .visual-cont .visual.v2{left:100%;}
#content .visual-cont .visual.v2 .bg{width:100%; height:100%; background:url("../images/visual2.jpg") no-repeat 0 0; background-size:cover;}
#content .visual-cont .visual.v2 .txt1{position:absolute; top:163px; left:186px;}
#content .visual-cont .visual.v2 .txt2{position:absolute; top:296px; left:186px;}
#content .visual-cont .visual.v2 .btn{position:absolute; top:456px; left:239px;}
#content .visual-cont .btn-cont{position:absolute; top:50%; z-index:5; width:100%;}
#content .visual-cont .btn-cont .btn-left{position:absolute; top:0; left:50px;}
#content .visual-cont .btn-cont .btn-right{position:absolute; top:0; right:50px;}
#content .visual-cont .blt-cont{position:absolute; bottom:55px; left:50%; transform:translate(-50%, 0); z-index:5;}
#content .visual-cont .blt-cont a{display:inline-block; padding:0 2px; width:50px; height:6px; background:url("../images/visual_blt.png") no-repeat 0 0;}
#content .visual-cont .blt-cont a.on{background:url("../images/visual_blt_on.png") no-repeat 0 0;}
#content .tab-head{margin-top:100px; text-align:center;}
#content .tab-head a{display:inline-block; padding:0 40px;}
#content .tab-cont{position:relative; z-index:1; margin-top:60px;}
#content .tab-cont .cont-box{position:absolute; top:0; left:0; height:290px;}
#content .tab-cont .cont-box a{display:block; position:absolute; top:100px; opacity:0;}
#content .tab-cont .cont-box a:first-child{z-index:2;}
#content .tab-cont .cont-box a .tit{position:absolute; top:45px; z-index:1;}
#content .tab-cont .cont-box a .over{position:absolute; top:-41px; left:-31px; transform:scale(0.84); z-index:1; opacity:0; box-shadow:25px 25px 27px 5px rgba(0,0,0,0.3);}
#content .section3{position:relative; margin-top:340px; width:100%; height:978px; background:url("../images/section3_bg.jpg") no-repeat 0 0; background-size:cover; background-attachment:fixed;}
#content .section3 > div{position:relative; margin:0 auto; width:1920px;}
#content .section3 .tit{position:absolute; top:240px; left:686px; opacity:0; top:340px;}
#content .section3 .txt1{position:absolute; top:389px; left:169px; opacity:0; top:489px;}
#content .section3 .txt2{display:none; position:absolute; top:450px; left:150px;}
#content .section3 .txt3{position:absolute; top:544px; left:504px; opacity:0; top:644px;}
#content .section3 .txt4{display:none; position:absolute; top:594px; left:414px;}
#content .section3 .txt5{position:absolute; top:389px; left:882px; opacity:0; top:489px;}
#content .section3 .txt6{display:none; position:absolute; top:445px; left:860px;}
#content .section3 .txt7{position:absolute; top:544px; left:1224px; opacity:0; top:644px;}
#content .section3 .txt8{display:none; position:absolute; top:594px; left:1193px;}
#content .section3 .txt9{position:absolute; top:389px; left:1608px; opacity:0; top:489px;}
#content .section3 .txt10{display:none; position:absolute; top:450px; left:1589px;}
#content .section4{position:relative; width:100%; height:732px; overflow:hidden;}
#content .section4 .roll{display:none; position:absolute; top:0; left:0; width:100%; height:732px; background:url("../images/section4_bg.jpg") no-repeat center 0; background-size:cover;}
#content .section4 .roll:first-child{display:block;}
#content .section4 .roll:nth-child(2){background:url("../images/section4_bg2.jpg") no-repeat center 0; background-size:cover;}
#content .section4 .line{position:absolute; top:137px; left:0; width:150px; height:4px; background:#0d1234; width:0;}
#content .section4 .page{position:absolute; top:120px; left:200px; opacity:0; top:220px;}
#content .section4 .txt1{position:absolute; top:126px; left:265px; opacity:0; top:226px;}
#content .section4 .txt2{position:absolute; top:196px; left:265px; opacity:0; top:296px;}
#content .section4 .txt3{position:absolute; top:402px; left:265px; opacity:0; top:502px;}
#content .section4 .txt4{position:absolute; top:542px; left:265px; opacity:0; top:642px;}
#content .section4 .blt-cont{position:absolute; bottom:55px; left:50%; transform:translate(-50%, 0);}
#content .section4 .blt-cont a{display:inline-block; padding:0 2px; width:50px; height:6px; background:url("../images/section5_blt.gif") no-repeat 0 0;}
#content .section4 .blt-cont a.on{background:url("../images/section5_blt_on.gif") no-repeat 0 0;}
#content .section5{text-align:center;}
#content .section5 .tit{position:relative; top:100px; margin:0 auto; width:1980px; opacity:0;}
#content .section5 .cont{position:relative; height:540px;}
#content .section5 .cont a{position:absolute; top:100px; opacity:0;}
#content .section5 .blt-cont{padding:50px 0 100px;}
#content .section5 .blt-cont a{display:inline-block; padding:0 2px; width:50px; height:6px; background:url("../images/section5_blt.gif") no-repeat 0 0;}
#content .section5 .blt-cont a.on{background:url("../images/section5_blt_on.gif") no-repeat 0 0;}
#content .section6{padding-bottom:100px;}
.sub-visual{margin:auto; width:1920px;}
.sub-container{overflow:hidden; margin:auto; width:1920px; background:#f7f7f7;}
.sub-container .sub-left{float:left; width:310px; height:1980px; border-right:1px solid #e6e6e6; background:#fff;}
.sub-container .sub-left .tab{overflow:hidden;}
.sub-container .sub-left .tab .btn-tab1{display:block; float:left; width:155px; height:60px; background:url("../images/subList_tab1.jpg") no-repeat 0 0;}
.sub-container .sub-left .tab .btn-tab1.on{background:url("../images/subList_tab1_on.jpg") no-repeat 0 0;}
.sub-container .sub-left .tab .btn-tab2{display:block; float:left; width:155px; height:60px; background:url("../images/subList_tab2.jpg") no-repeat 0 0;}
.sub-container .sub-left .tab .btn-tab2.on{background:url("../images/subList_tab2_on.jpg") no-repeat 0 0;}
.sub-container .sub-left .reset{position:relative; width:310px; height:80px;}
.sub-container .sub-left .reset a:nth-child(1){position:absolute; top:20px; left:50px;}
.sub-container .sub-left .reset a:nth-child(2){position:absolute; top:20px; left:100px;}
/*.sub-container .sub-left .slide-cont img{width:99.999%;}*/
.sub-container .sub-tab-cont .cont{display:none;}
.sub-container .sub-tab-cont .cont.on{display:block;}
.sub-container .sub-tab-cont .slide-cont > a{display:block;}
.sub-container .sub-tab-cont .slide-cont > a > img{width:309px;}
.sub-container .sub-tab-cont .slide-cont > .slide{display:block; padding-bottom:30px;}
.sub-container .sub-tab-cont .slide-cont > .slide a{display:block; padding-top:20px; margin-left:50px;}
.sub-container .sub-tab-cont .slide-cont > .slide a:first-child{padding-top:4px;}
.sub-container .sub-right{float:left; padding-left:99px; box-sizing:border-box; width:1609px; background:#f7f7f7;}
.sub-container .sub-right .btn-area{position:relative; overflow:hidden; width:100%; height:50px;}
.sub-container .sub-right .btn-area .btn-gallery{display:block; float:left;}
.sub-container .sub-right .btn-area .btn-list{display:block; float:left; margin-left:10px;}
.sub-container .sub-right .btn-area .btn-bi{display:block; float:left; margin-left:5px;}
.sub-container .sub-right .img-search{position:absolute; top:0; right:50px;}
.sub-container .sub-right .item-cont1{padding-bottom:420px;}
.sub-container .sub-right .item-cont1:after{display:block; content:""; clear:both;}
.sub-container .sub-right .item-cont1 > div{display:block; position:relative; float:left; margin-right:30px; margin-top:35px;}
/*.sub-container .sub-right .item-cont1 > a:nth-child(5){margin-top:35px;}
.sub-container .sub-right .item-cont1 > a:nth-child(6){margin-top:35px;}*/
.sub-container .sub-right .item-cont1 > div .over{display:none; position:absolute; top:0; left:0; box-shadow:0px 0px 25px 4px rgba(0,0,0,0.3);}
.sub-container .sub-right .item-cont1 > div .check{ position:absolute; top:30px; left:30px; opacity:0;}
.sub-container .sub-right .item-cont2{display:none; margin-top:30px; padding-bottom:400px;}
.sub-container .sub-right .item-cont2 > div{display:block; position:relative; opacity:0; top:50px;}
.sub-container .sub-right .item-cont2 > div .over{display:none; position:absolute; top:0; left:0; box-shadow:0px 0px 25px 4px rgba(0,0,0,0.3);}
.sub-container .sub-right .item-cont2 > div .check{display:none; position:absolute; top:86px; left:30px;}
.sub-container .btn{padding-top:30px; padding-bottom:120px; text-align:center;}

.sub-visual2{margin:auto; width:1920px; height:60px; overflow:hidden;}
.roll-area{margin:auto; width:1920px; height:994px; background:url("../images/sub_detail_area1.jpg") no-repeat center 0;}
.roll-area .left{position:relative; width:1108px;}
.roll-area .left .btn-left{position:absolute; top:465px; left:30px; z-index:1;}
.roll-area .left .btn-right{position:absolute; top:465px; right:30px; z-index:1;}
.roll-area .left .roll{position:absolute; top:110px; left:90px; width:935px; height:722px; overflow:hidden;}
.roll-area .left .roll .img{position:absolute; top:0; left:100%;}
.roll-area .left .roll .img:first-child{left:0;}
.roll-area .left .thumb{position:absolute; left:380px; top:800px;}
.roll-area .left .thumb .thumb2{display:none;}
.sub-section2{position:relative; margin:0 auto; width:1920px; height:567px; background:url("../images/sub_detail_section2_bg.jpg") no-repeat center 0; background-position:0 0; overflow:hidden;}
.sub-section2 .img1{position:absolute; top:123px; top:223px; left:845px; opacity:0;}
.sub-section2 .img2{position:absolute; top:217px; top:317px; left:447px; opacity:0;}
.sub-section2 .img3{position:absolute; top:217px; top:317px; left:743px; opacity:0;}
.sub-section2 .img4{position:absolute; top:217px; top:317px; left:1013px; opacity:0;}
.sub-section2 .img5{position:absolute; top:217px; top:317px; left:1283px; opacity:0;}
.sub-section3{margin:auto; width:1920px;}
.sub-section3 .list{margin-top:100px;}
.sub-section3 .list:after{display:block; content:""; clear:both;}
.sub-section3 .list .img1{position:relative; top:200px; opacity:0; float:left; width:729px;}
.sub-section3 .list .img2{position:relative; top:200px; opacity:0; float:left; width:1190px;}
.sub-section4{margin:100px auto 0; position:relative; width:1920px;}
.sub-section4 .list .img1{position:relative; top:200px; opacity:0;}
.sub-section5 .list{margin:100px auto 0; position:relative; width:1920px;}
.sub-section5 .list:after{display:block; content:""; clear:both;}
.sub-section5 .list .img1{float:right; position:relative; top:200px; opacity:0;}
.sub-section5 .list .img2{position:absolute; top:226px; left:301px; top:426px; opacity:0;}
.sub-section6{position:relative; margin:120px auto 0; width:1920px;}
.sub-section6 img{position:relative; top:200px; opacity:0;}
.sub-section7{position:relative; top:200px; opacity:0; margin:auto; width:1920px; padding-bottom:300px;}
.sub-section7 .roll{position:relative; width:1920px; height:579px; overflow:hidden;}
.sub-section7 .roll .img{position:absolute; top:0; left:0;}
.sub-section7 .inner-area{position:absolute; top:320px; left:50%; transform:translate(-50%, 0); width:1259px;}
.sub-section7 .inner-area .btn1{position:absolute; top:0; left:0;}
.sub-section7 .inner-area .btn2{position:absolute; top:0; right:0;}
.sub-section7 .inner-area .blt{position:absolute; top:70px; left:590px;}
.sub-section7 .inner-area .blt span{display:inline-block; margin:0 2px; width:12px; height:12px; background:url("../images/sub_detail_section7_img8.png") no-repeat 0 0;}
.sub-section7 .inner-area .blt span.on{background:url("../images/sub_detail_section7_img7.png") no-repeat 0 0;}
.sub-section7 .inner-area .txt-area{position:absolute; top:100px;}
.sub-section7 .inner-area .txt-area img{position:absolute; top:0; left:0; box-shadow:0 0 20px 20px rgba(0,0,0,0.1);}
.sub-section8{position:relative; top:200px; opacity:0; margin:auto; width:1920px; overflow:hidden;}
.sub-section8 .roll{position:relative; margin-top:57px; height:730px;}
.sub-section8 .roll .img1{position:absolute; top:0; left:-360px;}
.sub-section8 .roll .img2{position:absolute; top:0; left:460px;}
.sub-section8 .roll .img3{position:absolute; top:0; left:1480px; width:800px;}
.sub-section8 .roll .img4{position:absolute; top:0; left:2300px;}
.sub-section8 .roll .btn{position:absolute; top:0; left:460px; width:1000px;}
.sub-section8 .roll .btn .btn1{position:absolute; top:250px; left:0;}
.sub-section8 .roll .btn .btn2{position:absolute; top:250px; right:0;}
.sub-section8 .roll .btn .play{position:absolute; top:230px; left:470px;}
.sub-section8 .txt{position:absolute; top:690px; left:790px;}
.sub-section8 .txt img{position:absolute; top:0; left:0; height:40px;}
.sub-section8 .txt img:nth-child(2){opacity:0;}
.sub-section9{position:relative; top:200px; opacity:0; margin:0 auto; width:1920px;}
.sub-section10{position:relative; top:200px; opacity:0; margin:0 auto; padding-top:117px; width:1920px; height:620px;}
.sub-section10 .roll-cont{position:absolute; top:200px; left:330px; height:500px; width:!260px;}
.sub-section10 .roll-cont .roll{position:absolute; top:0; left:0;}
.sub-section10 .roll-cont .roll .over{display:none; position:absolute; top:0; left:0; box-shadow:0 0 15px 10px rgba(0,0,0,0.2);}
.sub-section10 .roll-cont .roll:nth-child(2){left:425px;}
.sub-section10 .roll-cont .roll:nth-child(3){left:853px;}
.sub-section10 .roll-cont .roll:nth-child(4){left:853px;}
.sub-section10 .btn{position:absolute; top:380px; width:100%;}
.sub-section10 .btn .btn1{position:absolute; top:0px; left:250px;}
.sub-section10 .btn .btn2{position:absolute; top:0px; right:250px;}
.sub-section11{position:relative; top:200px; opacity:0; margin:0 auto; width:1920px;}
.sub-section11 .over{ position:absolute; top:218px; left:330px; box-shadow:0 0 15px 10px rgba(0,0,0,0.2); opacity:0;}
.gray-bg{position:relative; margin:auto; width:1920px; height:2700px; background:url("../images/gray_bg.jpg") no-repeat center bottom;}

.popup{display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:25;}
.popup .header{display:block;}
.popup .cont{padding:30px; box-sizing:border-box; height:700px; background:#fff;}
.popup .cont .scroll{overflow-y:auto; height:100%;}


.btn-fixed{display:none; position:fixed; bottom:50px; right:50px; z-index:8;}
.btn-fixed a{display:block; position:relative; padding-top:10px;}
.btn-fixed .btn-help{z-index:1;}
.btn-fixed .quick{position:absolute; top:-105px; right:0; width:170px; height:175px; overflow:hidden;}
.btn-fixed .quick img{display:block; position:relative; left:170px;}
#footer{width:100%; height:280px; background:url("../images/footer.jpg") no-repeat center 0 #0d1234;}