@charset "UTF-8";

*{margin:0; padding:0; box-sizing:border-box;}
html{width:100%; height:100%;}
body{position:relative; font-family:'Gotham', 'Montserrat', '맑은 고딕', 'Malgun Gothic', sans-serif; font-weight:normal; font-size:16px; color:#666; letter-spacing:0px; line-height:1; height:100%; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; line-height:1;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{position:absolute; top:-9999px; left:-9999px; z-index:-1}
textarea, button{vertical-align:middle} 
input, select{vertical-align:middle; background:#fff; border:1px solid #ccc; font-family:'HyundaiSansTextKRRegular', '맑은 고딕', 'Malgun Gothic', sans-serif; color:#999; letter-spacing:0px; border-radius:0; font-size:16px}
input{padding:3px 10px; height:32px}
option{padding:3px 10px;}
input[type="radio"],input[type="checkbox"] {border:0; padding:0; height:auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="password"] {height:40px; border:1px solid #ccc; color:#999; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="text"] {width:278px; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
select{padding:5px; height:40px; border:1px solid #ccc; background:#fff;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #ccc; font-family:'HyundaiSansTextKRRegular', '맑은 고딕', 'Malgun Gothic', sans-serif; color:#999; font-size:16px; letter-spacing:0px; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius:0}
a{text-decoration:none; color:#666;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}
button{background:none; border:none; padding:0; margin:0; cursor:pointer; overflow:visible; white-space: nowrap;  font-size:16px; font-family:'HyundaiSansTextKRMedium', '맑은 고딕', 'Malgun Gothic', sans-serif;}
button:active {outline: none}
button::-moz-focus-inner {padding:0; border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

body{overflow-x:hidden;}
.inner{position:relative; margin:0 auto;}
#wrap{position:relative; width:1920px; margin:0 auto; overflow:hidden}
body::-webkit-scrollbar{display:none}
body{-ms-overflow-style:none}
#wrap{-ms-overflow-style:none}
.header{position:fixed; top:0; left:50%; margin-left:-960px; padding:32px 0 0; width:1920px; height:70px; text-align:center; z-index:11; transition:background 0.3s ease}
.header .logo{display:inline-block; position:relative; top:0; transition:top 0.3s ease}
.header .gnb{position:absolute; top:-70px; left:70px; transition:top 0.3s ease}
.header .allMenuBtn{position:absolute; top:0; left:0}
.header .allMenuBtn img:nth-child(2){display:none}
.header .allMenuBtn:hover img:nth-child(1){display:none}
.header .allMenuBtn:hover img:nth-child(2){display:block}
.header .utill{position:absolute; top:28px; right:100px}
.header .utill img:nth-child(2){display:none}
.header .searchBtn{position:absolute; top:0; right:0}
.header .searchBtn img:nth-child(2){display:none}
.header .searchBtn:hover img:nth-child(1){display:none}
.header .searchBtn:hover img:nth-child(2){display:block}
.header.on{position:fixed}
.header.on{background:#fff; border-bottom:1px solid #e8e8e8}
.header.on .gnb{top:0}
.header.on .logo{top:-70px}
.header.on .allMenuBtn img:nth-child(1){display:none}
.header.on .allMenuBtn img:nth-child(2){display:block}
.header.on .searchBtn img:nth-child(1){display:none}
.header.on .searchBtn img:nth-child(2){display:block}
.header.on .utill img:nth-child(1){display:none}
.header.on .utill img:nth-child(2){display:block}
.allMenuPop{position:fixed; top:0; left:-100%; display:none; z-index:11}
.searchPop{position:fixed; top:0; left:100%; display:none; z-index:11}
.scrollDiv{width:1920px; background:#000}
.visualDiv{position:relative; width:100%; height:100vh; overflow:hidden; transition:opacity 0.4s ease; opacity:1}
.visualDiv:after{content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/line_bg.png') repeat-y center top}
.visualDiv video{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); min-width:110%; min-height:110%; }
.visualDiv .line1{position:absolute; top:105px; left:50%; width:1px; height:0; background:#fff; /*190*/}
.visualDiv .line2{position:absolute; top:570px; left:50%; width:1px; height:0; background:#fff; /*365*/ }
.visualDiv .tit{position:absolute; top:346px; left:50%; margin-left:-267px}
.visualDiv .tit span{position:relative; top:100px; opacity:0}
.visualDiv .txt{position:absolute; top:470px; opacity:0; left:50%; margin-left:-146px}
.visualDiv .scroll{position:fixed; bottom:0; left:50%; margin-left:-4px; z-index:1}
.visualDiv .prevBtn{position:absolute; top:50%; margin-top:-20px; left:0; padding:0 44px; z-index:10; transition:left 0.5s ease}
.visualDiv .prevBtn img:nth-child(2){display:none}
.visualDiv .prevBtn:before{content:''; display:block; position:absolute; top:50%; left:0; width:35px; height:1px; background:#fff; transition:left 0.5s ease, opacity 0.5s ease}
.visualDiv .prevBtn:after{content:''; display:block; position:absolute; top:50%; left:215px; width:50px; height:1px; background:#fff; transition:left 0.5s ease, opacity 0.5s ease; opacity:0}
.visualDiv .prevBtn:hover:before{left:-35px}
.visualDiv .prevBtn:hover:after{left:105px; opacity:1}
.visualDiv .prevBtn.on img:nth-child(1){display:none}
.visualDiv .prevBtn.on img:nth-child(2){display:block}
.visualDiv .prevBtn.on:before{opacity:0; left:-35px}
.visualDiv .prevBtn.on:after{opacity:1; left:105px}
.visualDiv .prevBtn.on:hover:before{opacity:1; left:0}
.visualDiv .prevBtn.on:hover:after{left:215px}
.visualDiv .nextBtn{position:absolute; top:50%; margin-top:-20px; right:0; padding:0 44px; z-index:10; transition:right 0.5s ease}
.visualDiv .nextBtn img:nth-child(2){display:none}
.visualDiv .nextBtn:before{content:''; display:block; position:absolute; top:50%; right:0; width:35px; height:1px; background:#fff; transition:right 0.5s ease, opacity 0.5s ease}
.visualDiv .nextBtn:after{content:''; display:block; position:absolute; top:50%; right:215px; width:50px; height:1px; background:#fff; transition:right 0.5s ease, opacity 0.5s ease; opacity:0}
.visualDiv .nextBtn:hover:before{right:-35px}
.visualDiv .nextBtn:hover:after{right:105px; opacity:1}
.visualDiv .nextBtn.on img:nth-child(1){display:none}
.visualDiv .nextBtn.on img:nth-child(2){display:block}
.visualDiv .nextBtn.on:before{opacity:0; right:-35px}
.visualDiv .nextBtn.on:after{opacity:1; right:105px}
.visualDiv .nextBtn.on:hover:before{opacity:1; right:0}
.visualDiv .nextBtn.on:hover:after{right:215px}

.leftDiv{position:absolute; left:-100%; top:0; width:100%; height:100%; transition:left 0.5s ease; background:#fff;}
.leftDiv .section{width:100%; height:100%; position:absolute; top:0}
.leftDiv .section:before{content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/line_bg.png') repeat-y center top}
.leftDiv .section:after{content:''; display:block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:90px; height:90px; background:url('../images/leftDiv_play.png') no-repeat; z-index:1}
.leftDiv .section1{background:url('../images/leftDiv_bg1.jpg') no-repeat right center; background-size:cover}
.leftDiv .section2{background:url('../images/leftDiv_bg2.jpg') no-repeat right center; top:100%; background-size:cover}
.leftDiv .section3{background:url('../images/leftDiv_bg3.jpg') no-repeat right center; top:100%; background-size:cover}
.leftDiv.on .section1{background-position:center center}
.leftDiv.on .section2{background-position:center center}
.leftDiv.on .section3{background-position:center center}
.leftDiv .indicator{position:absolute; top:50%; left:0; padding-left:65px; margin-top:-49px; z-index:1; cursor:pointer}
.leftDiv .indicator span{position:relative; display:block; width:8px; height:8px; background:rgba(255, 255, 255, 0.3); cursor:pointer}
.leftDiv .indicator span:nth-child(n+2){margin-top:17px}
.leftDiv .indicator span.on{height:48px; background:#fff;}
.leftDiv .indicator span.on:before{content:''; display:block; position:absolute; top:24px; left:-65px; width:23px; height:1px; background:rgba(255, 255, 255, 0.6)}
.leftDiv .indicator span.on:after{display:block; position:absolute; font-size:14px; color:#fff; top:18px; left:-32px}
.leftDiv .indicator span.on:nth-child(1):after{content:'01'}
.leftDiv .indicator span.on:nth-child(2):after{content:'02'}
.leftDiv .indicator span.on:nth-child(3):after{content:'03'}

.rightDiv{position:absolute; left:100%; top:0; width:102%; height:100%; transition:left 0.5s ease; overflow-y:scroll}
.rightDiv:after{content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/line_bg.png') repeat-y center top}
.rightDiv .section{width:100%; height:100%}
.rightDiv .section1{background:url('../images/rightDiv_bg1.jpg') no-repeat center center; background-attachment:fixed; background-size:cover}
.rightDiv .section2{background:url('../images/rightDiv_bg2.jpg') no-repeat center center; background-attachment:fixed; background-size:cover}
.rightDiv .section3{background:url('../images/rightDiv_bg3.jpg') no-repeat center center; background-attachment:fixed; background-size:cover}
.rightDiv .txtArea{position:absolute; top:460px; left:293px} /* 515px*/
.rightDiv .txtArea > div{margin-top:40px; transition:margin 0.3s ease}
.rightDiv .txtArea > div:first-child{margin-top:0}
.rightDiv .txtArea > div.on + div{margin-top:60px}
.rightDiv .txtArea > div .tit img:nth-child(2){display:none}
.rightDiv .txtArea > div .txt{margin-top:20px; display:none}
.rightDiv .txtArea > div.on .tit span{position:relative}
.rightDiv .txtArea > div.on .tit img:nth-child(1){display:none}
.rightDiv .txtArea > div.on .tit img:nth-child(2){display:block}
.rightDiv .txtArea > div.on .txt{display:block}
.rightDiv .txtArea.on{position:fixed}
.rightDiv .plusBtn{position:absolute; top:50%; left:1850px; margin-top:-35px}
.rightDiv .plusBtn.on{position:fixed; z-index:10}
.rightDiv .plusBtn:after{content:''; display:block; position:absolute; top:35px; right:70px; height:2px; background:rgba(255, 255, 255, 0.6)}
.rightDiv .plusBtn.one:after{width:1140px}
.rightDiv .plusBtn.two:after{width:1020px}
.rightDiv .plusBtn.thr:after{width:1140px}
.rightDiv .pop{position:absolute; top:0; right:-530px; display:none; z-index:11}
.rightDiv .pop.on{position:fixed;}
.rightDiv .pop2{position:absolute; top:0; right:-530px; display:none; z-index:11}
.rightDiv .pop2.on{position:fixed;}
.rightDiv.on:after{position:fixed}

.contentDiv{position:relative; width:100%; padding-top:150px; background:#fff}
.contentDiv:after{content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/line_bg.png') repeat-y center top}
.contentDiv .motionVisual{position:relative; width:800px; margin:0 auto; height:866px; overflow:hidden; min-width:800px; max-width:1780px}
.contentDiv .motionVisual .roll{position:absolute; top:0; left:0; width:100%; height:100%}
.contentDiv .motionVisual .roll:nth-child(1){background:url('../images/contentDiv_visual1.jpg') no-repeat center top; background-attachment:fixed}
.contentDiv .motionVisual .roll:nth-child(2){background:url('../images/contentDiv_visual2.jpg') no-repeat center top; background-attachment:fixed; opacity:0}
.contentDiv .motionVisual .roll:nth-child(3){background:url('../images/contentDiv_visual3.jpg') no-repeat center top; background-attachment:fixed; opacity:0}
.contentDiv .apartList{margin:70px auto 80px; width:1780px; position:relative; z-index:1}
.contentDiv .apartList:after{content:''; display:block; clear:both}
.contentDiv .apartList .list{position:relative; top:100px; float:left; width:432px; height:736px; margin-left:13px; opacity:0}
.contentDiv .apartList .list:first-child{margin-left:0}
.contentDiv .apartList .list img{position:absolute; top:0; left:0; transition:opacity 0.3s ease}
.contentDiv .apartList .list img:nth-child(2){opacity:0}
.contentDiv .apartList .list img:nth-child(3){opacity:0; transition:none}
.contentDiv .apartList .list:hover img:nth-child(1){opacity:0}
.contentDiv .apartList .list:hover img:nth-child(2){opacity:1}
.contentDiv .apartList .list.on img:nth-child(1){opacity:0; display:none}
.contentDiv .apartList .list.on img:nth-child(2){opacity:0; display:none}
.contentDiv .apartList .list.on img:nth-child(3){opacity:1}
.contentDiv .noticeDiv{padding:75px 70px 100px; background:url('../images/contentDiv_notice_bg.jpg') no-repeat center}
.contentDiv .noticeDiv .title{position:relative; top:100px; opacity:0; text-align:center}
.contentDiv .noticeDiv .noticeList{margin:60px auto 0; width:1780px;}
.contentDiv .noticeDiv .noticeList:after{content:''; display:block; clear:both}
.contentDiv .noticeDiv .noticeList .list{position:relative; top:100px; float:left; width:432px; margin-left:13px; opacity:0}
.contentDiv .noticeDiv .noticeList .list:first-child{margin-left:0}
.contentDiv .noticeDiv .btn{margin:40px auto 0; width:60px; position:relative; top:100px; opacity:0; z-index:1}
.bottomBanner{padding:120px 0 122px; background:url('../images/bottom_banner_bg.jpg') no-repeat center; text-align:center}
.bottomBanner .btn{margin-top:50px}

.dimdBg{position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.3); display:none; z-index:10}

.subCon{position:relative; padding-top:110px}
.subCon:after{content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/line_bg.png') repeat-y center top}
.gnb2{position:absolute; top:110px; left:70px; z-index:11}
.gnb2 .twoD{display:none}
.subCon.sub1{padding-top:305px}
.sub1 .title{width:1780px; margin:0 auto; position:relative; top:100px; opacity:0}
.sub1 .visual{position:relative; z-index:1; margin-top:35px; position:relative; top:100px; opacity:0}
.sub1 .tit{text-align:center; margin-top:120px; position:relative; top:100px; opacity:0}
.sub1 .listDiv{width:1780px; margin:40px auto 0; position:relative; z-index:1; padding-left:3px}
.sub1 .listDiv:after{content:''; display:block; clear:both}
.sub1 .listDiv .list{float:left; position:relative; top:100px; opacity:0}
.sub1 .listDiv .list:nth-child(n+2){margin-top:24px}
.sub1 .listDiv .list:nth-child(2){margin-right:24px}
.sub1 .listDiv .list:nth-child(4){margin-right:24px; width:430px; height:320px}
.sub1 .listDiv .list:nth-child(5){margin-right:24px}
.sub1 .listDiv .list:nth-child(6){margin-right:24px}
.sub1 .listDiv .list:nth-child(4) img{position:absolute; top:0; left:0}
.sub1 .listDiv .list:nth-child(4) img:nth-child(2){opacity:0; transition:opacity 0.4s ease}
.sub1 .listDiv .list:nth-child(4):hover img:nth-child(2){opacity:1}
.sub1 .bBanner1{margin-top:160px}
.sub1 .bBanner2{position:relative; z-index:1}
.sub1 .bBanner3{position:relative; z-index:1}

.sub2{padding-bottom:130px}
.sub2 .indi{width:1780px; margin:0 auto; position:relative; top:100px; opacity:0; z-index:1}
.sub2 .title{margin-top:60px; text-align:center; position:relative; top:100px; opacity:0; z-index:1}
.sub2 .search{text-align:center; margin-top:60px; position:relative; top:100px; opacity:0; z-index:1}
.sub2 .tab{text-align:center; margin-top:80px; position:relative; top:100px; opacity:0; z-index:1}
.sub2 .type{text-align:center; margin-top:25px; position:relative; top:100px; opacity:0; z-index:1}
.sub2 .listDiv{margin:75px auto 0; width:1780px}
.sub2 .listDiv:after{content:''; display:block; clear:both}
.sub2 .listDiv .list{float:left; width:432px; height:432px; margin-right:14px; position:relative; top:100px; opacity:0; z-index:1}
.sub2 .listDiv .list:nth-child(n+5){margin-top:12px}
.sub2 .listDiv .list:nth-child(4n){margin-right:0}
.sub2 .listDiv .list:nth-child(1) img{position:absolute; top:0; left:0; transition:opacity 0.4s ease}
.sub2 .listDiv .list:nth-child(1) img:nth-child(2){opacity:0}
.sub2 .listDiv .list:hover:nth-child(1) img:nth-child(2){opacity:1}
.sub2 .btn{margin:50px 0 0; text-align:center; position:relative; top:100px; opacity:0; z-index:1}