/*
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,700);
*/

*{margin:0; padding:0;}
html{width:100%; height:100%}
body{position:relative; font-size:13px; font-family:"Noto Sans KR", "Noto Sans KR", "Malgun Gothic"; color:#555; -webkit-text-size-adjust:none; line-height:18px; letter-spacing:-1px; height:100%}
body.main{background:none;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{display:none}
textarea, button{vertical-align:middle}
input, select{vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:"Montserrat", "Noto Sans KR", "Malgun Gothic"; color:#555; border-radius:0; font-size:14px}
input,option{padding:3px 10px; height:24px;}`
input[type="radio"],input[type="checkbox"] {border:0}
select{padding:3px; height:32px;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:"Montserrat", "Noto Sans KR", "Malgun Gothic"; color:#555; line-height:24px; font-size:14px}
.checkbox{padding:0; border:0; height:auto;}
a{text-decoration:none; color:#666666; vertical-align:middle;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}


#mobileWrap{position:relative; width:824px; height:100%; margin:0 auto;}
#mobileWrap .phone{position:absolute; top:150px; left:0; z-index:10;}
#mobileWrap .phone .top{display:block; position:absolute; bottom:59px; left:358px; width:109px; height:51px; z-index:10;}
#mobileWrap .btBox a{display:block; padding-bottom:10px;}
#mobileWrap .btBox{position:absolute; top:150px; right:-10px; z-index:100; display:block}
#mobileWrap .contents{position:absolute; top:428px; left:126px; width:750px; height:1334px; overflow:hidden; z-index:10;}
#mobileWrap .contents .scrollArea{display:block; position:relative; width:800px; height:100%; overflow-y:auto; overflow-x:hidden;}

#mobileWrap .contents .scrollArea .header{position:absolute; top:0; left:0; z-index:1}
#mobileWrap .contents .scrollArea .rollDiv{position:relative; width:100%; height:1334px}
#mobileWrap .contents .scrollArea .rollDiv .roll{position:absolute; top:0; left:0}
#mobileWrap .contents .scrollArea .rollDiv .roll:nth-child(2){left:750px}
#mobileWrap .contents .scrollArea .rollDiv .roll:nth-child(3){left:-750px}
#mobileWrap .contents .scrollArea .rollDiv .roll a{position:absolute; width:140px; height:130px}
#mobileWrap .contents .scrollArea .rollDiv .roll .two{right:0; bottom:0}
#mobileWrap .contents .scrollArea .rollDiv .roll .thr{left:0; bottom:0}
#mobileWrap .contents .scrollArea .rollDiv .roll:nth-child(2) .one{left:0; bottom:0}
#mobileWrap .contents .scrollArea .rollDiv .roll:nth-child(3) .one{right:0; bottom:0}

