@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,700);

*{margin:0; padding:0;}
html{width:100%; height:100%}
body{position:relative; font-size:13px; font-family:"Noto Sans KR", "Noto Sans KR", "Malgun Gothic"; color:#555; -webkit-text-size-adjust:none; line-height:18px; letter-spacing:-1px; height:100%}
body.main{background:none;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{display:none}
textarea, button{vertical-align:middle}
input, select{vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:"Montserrat", "Noto Sans KR", "Malgun Gothic"; color:#555; border-radius:0; font-size:14px}
input,option{padding:3px 10px; height:24px;}`
input[type="radio"],input[type="checkbox"] {border:0}
select{padding:3px; height:32px;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:"Montserrat", "Noto Sans KR", "Malgun Gothic"; color:#555; line-height:24px; font-size:14px}
.checkbox{padding:0; border:0; height:auto;}
a{text-decoration:none; color:#666666; vertical-align:middle;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}

#wrap .sub .bookBtn{bottom:-140px;}
#wrap .sub .visualBtn{bottom:auto; top:630px}
.subLogo{position:absolute; top:60px; left:80px;}
.subGnb{position:absolute; top:60px; left:400px; overflow:hidden;}
.subGnb a{display:block; float:left; margin-right:60px;}
.subGnb a:last-child{margin-right:0;}
.sub .con{position:relative;}
.sub .con1{width:100%; height:100%; background:url("../images/sub1_img1.png") center no-repeat; background-size:cover;}
.sub .con1 .txt{position:absolute; opacity:0; z-index:1}
.sub .con1 .txt1{top:423px; left:158px; z-index:1}
.sub .con1 .txt2{top:633px; left:158px; z-index:1}
.sub .con1 img{width:100%;}
.sub .con2{width:100%; height:448px; background:url("../images/sub1_bg_img1.jpg") center no-repeat; background-size:cover;}
.sub .con2 .txt{position:absolute; top:240px; left:50%; transform:translateX(-50%); opacity:0; transition:all 0.5s ease;}
.sub .con2 .txt2{top:330px; opacity:0; transition:all 0.5s ease; transition-delay:0.3s}
.sub .con2.on .txt{top:140px; opacity:1;}
.sub .con2.on .txt2{top:230px; opacity:1;}
.sub .con3{width:100%; height:887px; background:url("../images/sub1_section1_bg.jpg") center no-repeat; background-size:cover;}
.sub .con3 .line{position:absolute; top:157px; left:142px; width:1px; height:50px; background:#fff; opacity:0.4;}
.sub .con3 img{width:100%;}
.sub .con3 .txt{position:absolute; top:325px; left:164px; opacity:0; transition:all 0.5s ease;}
.sub .con3 .imgD{position:absolute; top:0; left:0; width:100%; height:100%; z-index:1;} 
.sub .con3 .imgD .img:nth-child(1){position:absolute; top:318px; left:579px; opacity:0; transition:all 0.5s ease; transition-delay:0.3s;}
.sub .con3 .imgD .img:nth-child(2){position:absolute; top:229px; left:1020px; opacity:0; transition:all 0.5s ease; transition-delay:0.5s;}
.sub .con3 .imgD .img:nth-child(3){position:absolute; top:409px; left:1460px; opacity:0; transition:all 0.5s ease; transition-delay:0.7s;}
.sub .con3.on .txt{top:225px; opacity:1;}
.sub .con3.on .imgD .img:nth-child(1){top:218px; opacity:1;}
.sub .con3.on .imgD .img:nth-child(2){top:129px; opacity:1;}
.sub .con3.on .imgD .img:nth-child(3){top:309px; opacity:1;}
.sub .con3 .imgD.type2 .img:nth-child(1){top:230px}
.sub .con3 .imgD.type2 .img:nth-child(2){top:410px}
.sub .con3 .imgD.type2 .img:nth-child(3){top:320px}
.sub .con3.on .imgD.type2 .img:nth-child(1){top:130px}
.sub .con3.on .imgD.type2 .img:nth-child(2){top:310px}
.sub .con3.on .imgD.type2 .img:nth-child(3){top:220px}

.sub .con3 .imgD.type3 .img:nth-child(1){top:325px; left:520px}
.sub .con3 .imgD.type3 .img:nth-child(2){top:830px; left:520px}
.sub .con3 .imgD.type3 .img:nth-child(3){top:1340px; left:520px}
.sub .con3.on .imgD.type3 .img:nth-child(1){top:225px}
.sub .con3.on .imgD.type3 .img:nth-child(2){top:730px}
.sub .con3.on .imgD.type3 .img:nth-child(3){top:1240px}

.sub .con4{width:1760px; margin:0 auto; padding:138px 0 0; text-align:center; box-sizing:border-box;}
.sub .con4 .txt1{position:relative; top:100px; margin-bottom:58px; opacity:0; transition:all 0.5s ease;}
.sub .con4 .imgD{position:relative; top:100px; opacity:0; transition:all 0.5s ease; transition-delay:0.3s}
.sub .con4 .txtAcoD{position:relative; padding-top:114px}
.sub .con4 .txtAcoD a{position:absolute; top:0; display:block; width:100%; height:114px; background:url("../images/sub1_section2_img2.png") center no-repeat; z-index:2}
.sub .con4 .txtAcoD a.on{background:url("../images/sub1_section2_img2_on.png") center no-repeat;}
.sub .con4 .txtAcoD .acoC{display:none; width:100%; padding:100px 79px 103px; box-sizing:border-box; border:1px solid #e0e0e0; border-top:0;}
.sub .con4 .txtAcoD .acoC img{width:100%;}
.sub .con4.on .txt1{top:0; opacity:1;}
.sub .con4.on .imgD{top:0; opacity:1;}
.sub .con5{width:100%; height:460px;; margin:117px auto 0; background:#faf1f3;}
.sub .con5 .inner{position:relative; width:1600px; margin:0 auto;}
.sub .con5 .txt1{position:absolute; top:220px; left:0; opacity:0; transition:all 0.5s ease;}
.sub .con5 .txt2{position:absolute; top:212px; left:582px; opacity:0; transition:all 0.5s ease; transition-delay:0.3s}
.sub .con5 .txt3{position:absolute; top:212px; left:1098px; opacity:0; transition:all 0.5s ease; transition-delay:0.4s}
.sub .con5.on .txt1{top:120px; opacity:1;}
.sub .con5.on .txt2{top:112px; opacity:1;}
.sub .con5.on .txt3{top:112px; opacity:1;}
.sub .con6{margin:138px 0 160px; text-align:center;}
.sub .con6 .tit{position:relative; top:100px; margin-bottom:60px; opacity:0; transition:all 0.5s ease;}
.sub .con6 .img{position:relative; top:100px; opacity:0; transition:all 0.5s ease; transition-delay:0.4s}
.sub .con6.on .tit{top:0; opacity:1;}
.sub .con6.on .img{top:0; opacity:1;}

.sub .sub2{position:relative}
.sub .sub2 .con1{width:100%; height:100%; background:url("../images/sub2_img1.png") center no-repeat; background-size:cover;}
.sub .sub2 .con1:after{content:''; display:block; position:absolute; left:78px; bottom:0; width:1760px; height:calc(100% - 155px); height:-webkit-calc(100% - 155px); border-left:2px solid #a36b4f; border-right:2px solid #a36b4f; border-top:2px solid #a36b4f}
.sub .sub2 .con2{width:100%; height:448px; background:url("../images/sub2_bg_img1.jpg") center no-repeat; background-size:cover;}
.sub .sub2 .con3{width:100%; height:1900px; background:url("../images/sub2_section1_bg.jpg") center no-repeat; background-size:cover; }
.sub .sub2 .con4 .txtAcoD a{display:block; width:100%; height:114px; background:url("../images/sub2_section2_img2.png") center no-repeat;}
.sub .sub2 .con4 .txtAcoD a.on{background:url("../images/sub2_section2_img2_on.png") center no-repeat;}
.sub .sub2 .con5{background:#efeae7;}

.sub .sub3 .con1{width:100%; height:100%; background:url("../images/sub3_img1.png") center no-repeat; background-size:cover;}
.sub .sub3 .con2{width:100%; height:448px; background:url("../images/sub3_bg_img1.jpg") center no-repeat; background-size:cover;}
.sub .sub3 .con3{width:100%; height:887px; background:url("../images/sub3_section1_bg.jpg") center no-repeat; background-size:cover;}
.sub .sub3 .con4 .txtAcoD a{display:block; width:100%; height:114px; background:url("../images/sub3_section2_img2.png") center no-repeat;}
.sub .sub3 .con4 .txtAcoD a.on{background:url("../images/sub3_section2_img2_on.png") center no-repeat;}
.sub .sub3 .con5{background:#e8e8e8;}