*{margin:0; padding:0}
html{width:100%; height:100%}
body{position:relative; font-size:14px; font-family:'맑은 고딕', 'malgun gothic', dotum,"돋움",sans-serif; color:#666; -webkit-text-size-adjust:none; line-height:1.5; letter-spacing:-1px;}
body.main{background:none;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{display:none}
textarea, button{vertical-align:middle}
input, select{vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:'맑은 고딕', 'malgun gothic', dotum,"돋움",sans-serif; color:#666; border-radius:0; font-size:14px}
input,option{padding:3px 10px; height:30px; box-sizing:border-box;}
select{padding:3px; height:30px;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #d7d7d7; font-family:'맑은 고딕', 'malgun gothic', dotum,"돋움",sans-serif; color:#666; line-height:24px; font-size:14px}
.checkbox{padding:0; border:0; height:auto;}
.disNone{display:none}
a{text-decoration:none; color:#666666; vertical-align:middle;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}
.hide{display:none;}
button{border:0; background:none; cursor:pointer; white-space: nowrap; outline:0;}
button span {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; visibility:hidden;/* 대체 텍스트 숨김 처리 */}
label{cursor:pointer}

#wrap {position:relative; width:100%; min-width:1100px; height:100%; background:#000;}

#header {position:absolute; top:0; left:0; width:100%; text-align:center; height:70px; border-bottom:1px solid rgba(255,255,255,0.2); z-index:999;}
#header .logo {position:absolute; top:0; left:0; width:211px; height:70px; background:url("./images/logo.png") no-repeat 50% 50%;}
#header #gnb {position:relative; display:inline-block; vertical-align:top;}
#header #gnb > a {position:relative; display:inline-block; width:770px; height:70px; background:url("./images/gnb.png") no-repeat 50% 50%}
#header #gnb > a .bar {display:none; position:absolute; bottom:0; left:101px; width:141px; height:3px; background:#002087;}
#header #gnb .twoD {display:none; position:absolute; border-top:1px solid #ddd; top:70px; left:calc(50% - 1500px); width:3000px; height:290px; background:#fff url("./images/twoD.jpg") no-repeat 50% 0;}
#header #gnb .twoD a {display:inline-block;; width:1100px; height:100%;}
#header .utill {position:absolute; top:0; right:0; width:320px; height:70px; background:url("./images/utill2.png") no-repeat 50% 50%;}

#header.on {background:#fff;}
#header.on .logo {background:url("./images/logo_on.png") no-repeat 50% 50%;}
#header.on #gnb > a {background:url("./images/gnb_on.png") no-repeat 50% 50%}
#header.on .utill {background:url("./images/utill_on.png") no-repeat 50% 50%;}

#header.hover {background:#fff;}
#header.hover .logo {background:url("./images/logo_on.png") no-repeat 50% 50%;}
#header.hover #gnb > a {background:url("./images/gnb_hover.png") no-repeat 50% 50%}
#header.hover .utill {background:url("./images/utill_on.png") no-repeat 50% 50%;}

#fullpage {position:relative; width:100%; height:100%; min-width:1100px;}

.mainVis .visArea {position:relative; width:100%; height:100%; overflow:hidden;}
.mainVis .visArea .vis {position:absolute; top:0; left:100%; width:100%; height:100%;} 
.mainVis .visArea .vis > div {position:relative; width:1100px; height:100%; overflow:hidden; margin:0 auto;}
.mainVis .visArea .vis > div .txt1 {position:absolute; top:210px; left:50%; transform:translateX(-50%); width:555px; height:59px; overflow:hidden;}
.mainVis .visArea .vis > div .txt1 img{position:absolute; top:59px}
.mainVis .visArea .vis > div .txt2 {position:absolute; top:290px; left:50%; transform:translateX(-50%); width:479px; height:59px; overflow:hidden;}
.mainVis .visArea .vis > div .txt2 img{position:absolute; top:59px}
.mainVis .visArea .vis > div .txt3 {position:absolute; top:400px; left:50%; transform:translateX(-50%); width:0; height:17px; overflow:hidden;}
/*.mainVis .visArea .vis > div .txt3 img{position:absolute; top:17px}*/
.mainVis .visArea .vis1 {left:0; background:url("./images/mainVis1.jpg") no-repeat center center; background-size:cover}
.mainVis .visArea .vis2 {background:url("./images/mainVis2.jpg") no-repeat center center; background-size:cover}
.mainVis .visIndi {position:absolute; top:473px; left:0; width:100%; text-align:center;}
.mainVis .visIndi a {position:relative; display:inline-block; vertical-align:top; width:8px; height:8px; overflow:hidden; margin-left:20px; background:rgba(255, 255, 255, 0.5)}
.mainVis .visIndi p {position:relative; display:inline-block; vertical-align:top; width:8px; height:8px; overflow:hidden; margin-left:20px; background:rgba(255, 255, 255, 0.5)}
.mainVis .visIndi a > .bar {position:absolute; top:0; left:0; display:inline-block; width:0; height:8px; background:#d60014;}
.mainVis .visIndi a:first-child {margin-left:0;}
.mainVis .visIndi a.on{width:70px; background:rgba(255, 255, 255, 1)}

.technology {background:url("./images/tech_bg1.jpg") no-repeat center center; background-size:cover}
.technology .bg {position:absolute; top:0; left:0; width:100%; height:100%; z-index:10;}
.technology .bg .bg1 {position:absolute; top:0; left:0; width:100%; height:100%; background:url("./images/tech_bg2.jpg") no-repeat center center; background-size:cover; display:none; opacity:0}
.technology .bg .bg2 {position:absolute; top:0; left:0; width:100%; height:100%; background:url("./images/tech_bg3.jpg") no-repeat center center; background-size:cover; display:none; opacity:0}
.technology .txt1{position:absolute; top:335px; left:50%; transform:translateX(-50%); opacity:0; z-index:11}
.technology .txt2{position:absolute; top:355px; left:50%; transform:translateX(-50%); opacity:0; z-index:11}
.technology .listDiv{width:1170px; height:380px; position:absolute; top:405px; left:50%; transform:translateX(-50%); z-index:11}
.technology .listDiv .list{position:absolute; top:50px; opacity:0; width:234px; height:380px; text-align:center}
.technology .listDiv .list1{left:0px; opacity:0}
.technology .listDiv .list2{left:234px;}
.technology .listDiv .list3{left:468px;}
.technology .listDiv .list4{left:702px;}
.technology .listDiv .list5{left:936px;}
.technology .listDiv a.list img{position:absolute; top:0; left:0}
.technology .listDiv a.list img:nth-child(1){opacity:1}
.technology .listDiv a.list img:nth-child(2){opacity:0}
.technology .listDiv a:before{content:''; display:block; position:absolute; bottom:0; left:0; width:1px; height:0; background:#fff; transition:all 0.5s ease}
.technology .listDiv a:hover:before{height:380px}
.technology .listDiv a:after{content:''; display:block; position:absolute; top:0; right:0; width:1px; height:0; background:#fff; transition:all 0.5s ease}
.technology .listDiv a:hover:after{height:380px}
.technology .listDiv a > div:before{content:''; display:block; position:absolute; top:0; left:0; width:0px; height:1px; background:#fff; transition:all 0.5s ease}
.technology .listDiv a > div:hover:before{width:234px}
.technology .listDiv a > div:after{content:''; display:block; position:absolute; bottom:0; right:0; width:0px; height:1px; background:#fff; transition:all 0.5s ease}
.technology .listDiv a > div:hover:after{width:234px}

.news {background:url("./images/news_bg.jpg") no-repeat center center; background-size:cover;}
.news .txt1{position:absolute; top:280px; left:50%; transform:translateX(-50%); opacity:0}
.news .listDiv{width:1170px; height:543px; position:absolute; top:275px; left:50%; transform:translateX(-50%)}
.news .listDiv .list{position:absolute; width:275px; height:260px; opacity:0}
.news .listDiv .list1{top:100px; left:0}
.news .listDiv .list2{top:100px; left:298px}
.news .listDiv .list3{top:100px; left:596px}
.news .listDiv .list4{top:100px; left:895px}
.news .listDiv .list5{top:383px; left:0}
.news .listDiv .list6{top:383px; left:298px}
.news .listDiv .list7{top:383px; left:596px}
.news .listDiv .list8{top:383px; left:895px}
.news .listDiv .list img{position:absolute; top:0; left:0; z-index:1}
.news .listDiv .list:after{content:''; display:block; position:absolute; width:275px; height:260px; background:#fff; top:0; left:0; opacity:0; transition:all 0.5s ease}
.news .listDiv .list:hover:after{opacity:1}
.news .listDiv .list .bar{display:block; width:18px; height:2px; background:#999999; position:absolute; top:74px; left:42px; z-index:2}
.news .listDiv .list .bar:after{content:''; display:block; position:absolute; top:0; left:0; width:0; height:2px; background:#ea3030; transition:all 0.5s ease}
.news .listDiv .list:hover .bar:after{width:18px}
.news .btn{position:absolute; bottom:100px; left:50%; transform:translateX(-50%); opacity:0}

.customer {}
.customer .content {position:relative; padding-top:263px; height:737px; background:url('./images/customer_bg.jpg') no-repeat center center; background-size:cover;}
.customer .content .inner{width:1170px; margin:0 auto; position:relative}
.customer .content .inner .txt1{position:absolute; top:0; left:0; width:0; height:142px; overflow:hidden}
.customer .content .inner .txt2{position:absolute; top:100px; right:0; opacity:0}
.customer .content .inner .listDiv{position:absolute ; top:342px; width:1170px; height:275px}
.customer .content .inner .listDiv .list{position:absolute ; top:100px; width:275px; height:275px; opacity:0}
.customer .content .inner .listDiv .list1{left:0px}
.customer .content .inner .listDiv .list2{left:297px}
.customer .content .inner .listDiv .list3{left:597px}
.customer .content .inner .listDiv .list4{left:895px}

#footer {height:204px; background:url("./images/footer.jpg") no-repeat 50% 0 #fff;}

.mainIndi {position:absolute; top:0; height:100%; right:61px; width:19px; z-index:999; background:url("./images/mainIndi_bg.png") repeat-y 50% 50%}
.mainIndi .indiDiv{position:absolute; top:50%; transform:translateY(-50%)}
.mainIndi li{margin-top:12px}
.mainIndi li:first-child {margin-top:0;}
.mainIndi li a {display:block; width:19px; height:19px; background:url("./images/main_indi.png") no-repeat 50% 50%; position:relative}
.mainIndi li a:before{content:''; display:none; position:absolute; right:30px; height:12px; top:50%; transform:translateY(-50%)}
.mainIndi li:nth-child(1) a:before{width:40px; background:url("./images/mainIndi_tit1.png") no-repeat center center}
.mainIndi li:nth-child(2) a:before{width:112px; background:url("./images/mainIndi_tit2.png") no-repeat center center}
.mainIndi li:nth-child(3) a:before{width:47px; background:url("./images/mainIndi_tit3.png") no-repeat center center}
.mainIndi li:nth-child(4) a:before{width:87px; background:url("./images/mainIndi_tit4.png") no-repeat center center}
.mainIndi li.active a {background:url("./images/main_indi_on.png") no-repeat 50% 50%;}
.mainIndi li.active a:before{display:block}

.sub {position:relative; width:100%; min-width:1100px}
.sub a{position:relative; width:100%; height:4205px; display:block; background:url("./images/sub.jpg") no-repeat 50% 0;}
.sub .indi{position:absolute; top:466px; right:70px}